@import "base/mixin";
@import "base/variable";
@import "plugin/swiper-bundle.min";

.section_1 {
    position: relative;
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: transparent;
        border: 1px solid #fff;
        opacity: 1;
        margin: 0 12px !important;
        @include mediaquery(null, 768px) {
            width: 8px;
            height: 8px;
            margin: 0 7.2px !important;
        }
    }
    .swiper-pagination-bullet-active {
        background: #fff;
    }
    .swiper-pagination-horizontal {
        bottom: 35px;
        @include mediaquery(null, 768px) {
            bottom: 19px;
        }
    }
}
.section_1-5 {
    position: relative;
    .flex_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 27px 46px 19px;
        .icon_flex {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 106px;
            @include mediaquery(null, 768px) {
                margin-right: 80px;
            }
            @include mediaquery(null, 450px) {
                margin-right: 42px;
            }
            &:last-child {
                margin-right: 0;
            }
            .icon {
                width: 74px;
                aspect-ratio: 1 / 1;
                @include mediaquery(null, 768px) {
                    width: 55.5px;
                }
                @include mediaquery(null, 450px) {
                    width: 37px;
                }
            }
            .txt {
                font-size: 15px;
            }
        }
    }
    .flex_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 19px 46px 27px;
        .icon_flex {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 106px;
            @include mediaquery(null, 768px) {
                margin-right: 80px;
            }
            @include mediaquery(null, 450px) {
                margin-right: 42px;
            }
            &:last-child {
                margin-right: 0;
            }
            .icon {
                width: 74px;
                aspect-ratio: 1 / 1;
                @include mediaquery(null, 768px) {
                    width: 55.5px;
                }
                @include mediaquery(null, 450px) {
                    width: 37px;
                }
            }
            .txt {
                font-size: 15px;
            }
        }
    }
}
.section_2 {
    position: relative;
    margin: 160px 0;
    @include mediaquery(null, 991px) {
        margin: 22.5px 0 61px;
    }
    .swiper {
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .swiper-slide {
        position: relative;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.25;
        border-radius: 6px;
        overflow: hidden;
        &-active {
            opacity: 1;
        }
        .txt {
            position: absolute;
            bottom: 32px;
            left: 32px;
            text-align: start;
            width: 355px;
            @include mediaquery(null, 1500px) {
                width: 297.5px;
            }
            @include mediaquery(null, 768px) {
                width: 240px;
                bottom: 20px;
                left: 26px;
            }
            @include mediaquery(null, 540px) {
                width: 120px;
                bottom: 10px;
                left: 13px;
            }
            .title {
                font-size: 24px;
                font-weight: 500;
                @include clamp(1, 2);
                @include mediaquery(null, 1500px) {
                    font-size: 20px;
                }
                @include mediaquery(null, 768px) {
                    font-size: 18px;
                    margin-bottom: -9px;
                }
                @include mediaquery(null, 540px) {
                    font-size: 12px;
                    margin-bottom: -6px;
                }
            }
            .subtitle {
                font-size: 16px;
                @include clamp(1.5, 2);
                @include mediaquery(null, 1500px) {
                    font-size: 14px;
                }
                @include mediaquery(null, 768px) {
                    font-size: 12px;
                    @include clamp(1.5, 3);
                }
                @include mediaquery(null, 540px) {
                    font-size: 8px;
                }
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-button-prev {
        width: 104px;
        height: 104px;
        cursor: pointer;
        background: url("../../dist/images/common/swiper_arrow_left.png") center center no-repeat;
        background-size: 104px 104px;
        transition: 0.5s;
        transform: translateY(-30%);
        @include mediaquery(null, 991px) {
            display: none;
        }
        @include mediaquery(767px, null) {
            &:hover {
                background: url("../../dist/images/common/swiper_arrow_left_hover.png") center center no-repeat;
            }
        }
        &:after {
            content: "";
        }
    }
    .swiper-button-next {
        width: 104px;
        height: 104px;
        cursor: pointer;
        background: url("../../dist/images/common/swiper_arrow_right.png") center center no-repeat;
        background-size: 104px 104px;
        transition: 0.5s;
        transform: translateY(-30%);
        @include mediaquery(null, 991px) {
            display: none;
        }
        @include mediaquery(767px, null) {
            &:hover {
                background: url("../../dist/images/common/swiper_arrow_right_hover.png") center center no-repeat;
            }
        }
        &:after {
            content: "";
        }
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: transparent;
        border: 1px solid #c0c0c0;
        opacity: 1;
        margin: 0 14.4px !important;
        @include mediaquery(null, 768px) {
            width: 8px;
            height: 8px;
            margin: 0 7.2px !important;
        }
    }
    .swiper-pagination-bullet-active {
        background: #c0c0c0;
    }
    .swiper-pagination-horizontal {
        bottom: -45px;
        @include mediaquery(null, 768px) {
            bottom: -35px;
        }
    }
}
