@import "base/mixin";
@import "base/variable";
@import "template/style";

.topMenuBox {
    margin-bottom: 61px;
    @include mediaquery(null, 767px) {
        margin-bottom: 34px;
    }
    ul {
        position: relative;
        display: inline-flex;
        min-width: 100%;
        padding-right: 20px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #dfcbb9;
        }
        li {
            position: relative;
            z-index: 2;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-left: 1px solid #dfcbb9;
                border-right: 1px solid #dfcbb9;
                border-top: 1px solid #dfcbb9;
                opacity: 0;
                transition: opacity 0.75s;
            }
            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #f9ede2;
                opacity: 0;
                transition: opacity 0.75s;
            }
            &:hover {
                @include mediaquery(768px, null) {
                    color: #94693c;
                    &::before {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            }
            &.active {
                color: #94693c;
                &::before {
                    opacity: 1;
                }
                &::after {
                    opacity: 1;
                }
            }
            a {
                position: relative;
                z-index: 5;
                display: block;
                padding: 10px 17px 14px;
                font-size: 16px;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    padding: 7px 8px 8px;
                }
            }
        }
    }
    li {
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-left: 1px solid #dfcbb9;
            border-right: 1px solid #dfcbb9;
            border-top: 1px solid #dfcbb9;
            opacity: 0;
            transition: opacity 0.75s;
        }
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f9ede2;
            opacity: 0;
            transition: opacity 0.75s;
        }
        &:hover {
            @include mediaquery(768px, null) {
                color: #94693c;
                &::before {
                    opacity: 1;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
        &.active {
            pointer-events: none;
            color: #94693c;
            &::before {
                opacity: 1;
            }
            &::after {
                opacity: 1;
            }
        }
        a {
            position: relative;
            z-index: 5;
            display: block;
            padding: 10px 17px 14px;
            font-size: 16px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
                padding: 7px 8px 8px;
            }
        }
    }
}
.intro {
    font-size: 16px;
    margin-bottom: 30px;
    @include mediaquery(null, 767px) {
        font-size: 15px;
        margin-bottom: 23px;
    }
}
.contentList {
    padding-bottom: 100px;
    @include mediaquery(null, 767px) {
        padding-bottom: 144px;
    }
    > ul > li {
        background-color: #f8f8f8;
        margin-bottom: 50px;
        border-radius: 6px;
        overflow: hidden;
        @include mediaquery(992px, null) {
            display: flex;
            justify-content: space-between;
        }
        @include mediaquery(null, 767px) {
            border-radius: 3px;
            margin-bottom: 25px;
        }
    }
    .storeName {
        font-size: 22px;
        color: #94693c;
        margin-bottom: 22px;
        @include mediaquery(null, 767px) {
            font-size: 18px;
        }
    }
    .img {
        position: relative;
        flex: 0 0 45%;
        max-height: 327px;
        @include mediaquery(992px, 1440px) {
            flex: 0 0 50%;
        }
        @include mediaquery(null, 991px) {
            max-height: 398px;
        }
        @include mediaquery(null, 768px) {
            max-height: 511px;
            aspect-ratio: 1 / 0.729166;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            right: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to top, rgba(248, 248, 248, 1) 10%, rgba(249, 237, 226, 0));
            @include mediaquery(992px, null) {
                top: 0;
                bottom: auto;
                width: 100px;
                height: 100%;
                background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(249, 237, 226, 0));
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center right;
            @include mediaquery(null, 768px) {
            height: 108%;
                object-position: right top;
            }
        }
    }
    .txt {
        flex: 0 0 50%;
        padding: 20px 84px 20px 55px;
        @include mediaquery(768px, 1440px) {
            padding: 20px 40px;
        }
        @include mediaquery(null, 767px) {
            padding: 14px 24px 30px;
        }
        ul {
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 10px;
            margin-bottom: 18px;
            @include mediaquery(null, 767px) {
                padding-bottom: 3px;
                margin-bottom: 20px;
            }
        }
        li {
            display: flex;
            margin-bottom: 8px;
            @include mediaquery(null, 767px) {
                margin-bottom: 14px;
            }
            a {
                position: relative;
                display: inline-block;
                margin-right: 10px;
                transition: opacity 0.75s;
                &:hover {
                    @include mediaquery(768px, null) {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .m_title {
        flex: 0 0 22px;
        margin-right: 7px;
        @include mediaquery(null, 767px) {
            flex: 0 0 12px;
            margin-right: 5px;
        }
        img {
            display: block;
            padding-top: 2px;
            @include mediaquery(null, 767px) {
                padding-top: 4px;
            }
        }
    }
    .m_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 16px;
        color: #000;
        @include mediaquery(null, 767px) {
            font-size: 15px;
            letter-spacing: -0.01em;
        }
        &.tel a {
            width: 100px;
            @include mediaquery(null, 767px) {
                margin-bottom: 4px;
            }
            &:nth-child(2n)::after {
                @include mediaquery(null, 480px) {
                    content: none;
                }
            }
            &:last-child::after {
                content: none;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -4px;
                transform: translateY(-50%);
                width: 1px;
                height: 1em;
                background-color: #e4e4e4;
            }
        }
    }
    .introTxt span {
        font-size: 14px;
        color: #6f6d6d;
        @include clamp(1.5, 2);
        height: auto;
        @include mediaquery(null, 767px) {
            font-size: 12px;
        }
    }
}

.locationPage {
    .contentList {
        padding-bottom: 62px;
        @include mediaquery(null, 767px) {
            padding-bottom: 145px;
        }
    }
    .topMenuBox {
        margin-bottom: 36px;
        @include mediaquery(null, 767px) {
            margin-bottom: 33px;
        }
    }
}
.sortBox {
    display: flex;
    margin-bottom: 61px;
    @include mediaquery(null, 767px) {
        flex-direction: column;
        margin-bottom: 33px;
    }
    .select {
        display: flex;
        align-items: baseline;
    }
    .select + .select {
        margin-left: 47px;
        @include mediaquery(null, 767px) {
            margin: 16px 0 0;
        }
    }
    .m_title {
        font-size: 16px;
        margin-right: 24px;
        @include mediaquery(null, 767px) {
            font-size: 15px;
            flex: 0 0 85px;
            margin-right: 0;
        }
    }
    select {
        appearance: none;
        border-radius: 6px;
        width: 290px;
        height: 48px;
        border: 1px solid #e4e4e4;
        background-color: #fff;
        padding: 12px 20px;
        font-size: 16px;
        background: #fff url("../images/common/form_arrow.png") center right 20px / 16px 7px no-repeat;
        @include mediaquery(null, 767px) {
            width: 100%;
            flex: 1;
        }
    }
}
.box {
    margin-bottom: 54px;
    @include mediaquery(null, 767px) {
        margin-bottom: 6px;
    }
    .city {
        font-size: 32px;
        color: #94693c;
        margin-bottom: 30px;
        @include mediaquery(null, 767px) {
            font-size: 19px;
            margin-bottom: 22px;
        }
    }
    > ul {
        display: flex;
        flex-wrap: wrap;
        > li {
            display: flex;
            width: calc((100% - 32px) / 2);
            border: 1px solid #94693c;
            border-radius: 6px;
            background-color: #fff;
            padding: 32px 47px 26px;
            margin-bottom: 32px;
            @include mediaquery(992px, 1440px) {
                width: calc((100% - 20px) / 2);
                padding: 20px 35px;
                margin-bottom: 20px;
            }
            @include mediaquery(null, 991px) {
                width: 100%;
                padding: 20px 35px;
                margin-bottom: 20px;
            }
            @include mediaquery(null, 767px) {
                flex-direction: column;
                padding: 18px 20px;
                border-radius: 3px;
            }
            &:nth-child(2n - 1) {
                margin-right: 32px;
                @include mediaquery(992px, 1440px) {
                    margin-right: 20px;
                }
                @include mediaquery(null, 991px) {
                    margin-right: 0;
                }
            }
        }
        .cityBox {
            flex: 0 0 160px;
            margin-right: 15px;
            @include mediaquery(992px, 1440px) {
                flex: 0 0 140px;
                margin-right: 10px;
            }
            @include mediaquery(null, 767px) {
                flex: 0 0 auto;
                margin: 0 0 13px;
            }
        }
        .txt {
            flex: 1;
            padding: 0;
        }
        .location {
            font-size: 22px;
            margin-bottom: 9px;
            color: #94693c;
            @include mediaquery(null, 767px) {
                font-size: 16px;
                margin-bottom: 6px;
            }
        }
        .tags {
            @include mediaquery(null, 767px) {
                display: flex;
                flex-wrap: wrap;
            }
            li {
                display: inline-block;
                min-width: 107px;
                height: 29px;
                line-height: 29px;
                font-size: 16px;
                color: #6c5237;
                text-align: center;
                border-radius: 5px;
                margin-bottom: 8px;
                @include mediaquery(null, 767px) {
                    min-width: 82px;
                    height: 22px;
                    line-height: 22px;
                    margin: 0 6px 6px 0;
                }
                &.color1 {
                    background-color: #eadbd4;
                }
                &.color2 {
                    background-color: #eae6e1;
                }
                &.color3 {
                    background-color: #f8f1e5;
                }
                &.color4 {
                    background-color: #e7f1ef;
                }
                &.color5 {
                    background-color: #e8f0f8;
                }
            }
        }
    }
}
