@import "base/mixin";
@import "base/variable";
@import "template/style";

.newsBox {
    padding-bottom: 142px;
    @include mediaquery(null, 767px) {
        padding-bottom: 169px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 74px;
        @include mediaquery(null, 767px) {
            padding-bottom: 46px;
        }
        li {
            width: calc((100% - 64px) / 3);
            margin: 0 32px 48px 0;
            border-radius: 6px;
            overflow: hidden;
            background-color: #f8f8f8;
            @include mediaquery(992px, 1440px) {
                width: calc((100% - 40px) / 3);
                margin: 0 20px 36px 0;
            }
            @include mediaquery(768px, 991px) {
                width: calc((100% - 30px) / 2);
                margin: 0 30px 30px 0;
            }
            @include mediaquery(null, 767px) {
                width: 100%;
                margin: 0 0 26px;
                border-radius: 3px;
            }
            &:nth-child(3n) {
                @include mediaquery(992px, null) {
                    margin-right: 0;
                }
            }
            &:nth-child(2n) {
                @include mediaquery(768px, 991px) {
                    margin-right: 0;
                }
            }
            &:hover {
                @include mediaquery(768px, null) {
                    .img {
                        opacity: 0.4;
                    }
                }
            }
        }
        .img {
            transition: opacity 0.75s;
            width: 100%;
            max-width: 512px;
            aspect-ratio: 1 / 0.5898;
            overflow: hidden;
            background-color: #d7d7d7;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 139px;
                height:35px;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                background: url(../images/common/logo_w.svg) center/contain no-repeat;
                background-size: 139px 35px;
            }
            img {
                display: block;
                width: 100%;
                z-index: 5;
                position: relative;
            }
        }
        .txt {
            padding: 30px 36px 36px 33px;
            @include mediaquery(null, 1440px) {
                padding: 20px 24px;
            }
            @include mediaquery(null, 767px) {
                padding: 16px 20px 32px;
            }
        }
        .tagDate {
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            @include mediaquery(null, 767px) {
                margin-bottom: 11px;
            }
        }
        .date {
            font-size: 16px;
            font-weight: 500;
            color: #797979;
            margin-right: 25px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
                margin-right: 13px;
            }
        }
        .tags {
            font-size: 16px;
            color: #94693c;
            padding: 0 16px;
            height: 32px;
            line-height: 32px;
            border: 1px solid #94693c;
            border-radius: 4px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
                height: 29px;
                line-height: 29px;
                padding: 0 8px;
            }
        }
        .newsTitle span {
            font-size: 22px;
            font-weight: 500;
            @include clamp(1.45, 2);
            @include mediaquery(null, 767px) {
                font-size: 20px;
                height: auto;
            }
        }
    }
}

//詳細頁
.detailContent {
    padding-bottom: 150px;
    @include mediaquery(null, 767px) {
        padding-bottom: 172px;
    }
    .tagDate {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        @include mediaquery(null, 767px) {
            margin-bottom: 28px;
        }
    }
    .date {
        font-size: 16px;
        font-weight: 500;
        color: #797979;
        margin-right: 25px;
        @include mediaquery(null, 767px) {
            font-size: 15px;
            margin-right: 13px;
        }
    }
    .tags {
        font-size: 16px;
        color: #94693c;
        padding: 0 16px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #94693c;
        border-radius: 4px;
        @include mediaquery(null, 767px) {
            font-size: 15px;
            height: 29px;
            line-height: 29px;
            padding: 0 8px;
        }
    }
    .newsTitle {
        font-size: 32px;
        font-weight: 500;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 48px;
        padding-bottom: 12px;
        line-height: 1.45;
        @include mediaquery(null, 767px) {
            font-size: 20px;
            margin-bottom: 23px;
            padding-bottom: 14px;
        }
    }
    .editor_Content {
        margin-bottom: 90px;
        @include mediaquery(null, 767px) {
            margin-bottom: 62px;
        }
    }
    .backBtn {
        margin-bottom: 0;
    }
}

//商務洽談
.cooperationPage {
    padding-bottom: 30px;
    @include mediaquery(null, 767px) {
        padding-bottom: 185px;
    }
    .kvTitle {
        padding-bottom: 63px;
        @include mediaquery(null, 767px) {
            padding-bottom: 0;
        }
    }
    .pageImg {
        @include mediaquery(767px, null) {
            position: absolute;
            z-index: 6;
            bottom: -10%;
            right: 0;
            text-align: center;
            width: calc((100% - 30px) / 2);
            padding: 0 30px;
        }
        @include mediaquery(null, 767px) {
            margin: 0 17.3177% 31px 0;
            text-align: right;
        }
        img {
            @include mediaquery(null, 767px) {
                width: 53.7%;
            }
        }
    }
    .cooperationBox {
        position: relative;
        margin-bottom: 81px;
        @include mediaquery(null, 767px) {
            margin-bottom: 35px;
        }
        &:not(.bulk) ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        li {
            width: calc((100% - 30px) / 2);
            background-color: #f8f3ed;
            padding: 30px 37px 29px;
            margin-bottom: 28px;
            min-height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mediaquery(768px, 991px) {
                width: calc((100% - 15px) / 2);
                padding: 25px 20px;
            }
            @include mediaquery(null, 767px) {
                width: 100%;
                margin-bottom: 20px;
                padding: 16px 17px;
                min-height: 80px;
            }
            &:nth-child(2n-1) {
                margin-right: 30px;
                @include mediaquery(768px, 991px) {
                    margin-right: 15px;
                }
                @include mediaquery(null, 767px) {
                    margin-right: 0;
                }
            }
            .title {
                font-size: 22px;
                font-weight: 500;
                color: #94693c;
                margin-bottom: 9px;
                @include mediaquery(null, 767px) {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            .icon {
                max-width: 27px;
                margin-right: 10px;
                @include mediaquery(null, 767px) {
                    max-width: 22px;
                }
                img {
                    display: block;
                }
            }
            .mail {
                display: flex;
                align-items: center;
                a {
                    transition: color 0.75s;
                    @include mediaquery(null, 767px) {
                        font-size: 15px;
                    }
                    &:hover {
                        @include mediaquery(768px, null) {
                            color: #94693c;
                        }
                    }
                }
            }
        }
    }
    .b_title {
        font-size: 32px;
        font-weight: 500;
        color: #94693c;
        margin-bottom: 29px;
        @include mediaquery(null, 767px) {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
}
#cooperation:target {
    padding-top: 150px;
    margin-top: -150px;
    @include mediaquery(null, 767px) {
        padding-top: 90px;
        margin-top: -90px;
    }
}

//隱私權
.termsPage {
    padding-bottom: 150px;
    @include mediaquery(null, 767px) {
        padding-bottom: 174px;
    }
}

//聯絡我們
.contactPage {
    .kvTitle {
        @include mediaquery(null, 767px) {
            padding-bottom: 4px;
        }
    }
    .content {
        display: flex;
        @include mediaquery(null, 767px) {
            flex-direction: column;
        }
    }
    .leftBox {
        padding: 0 60px;
        flex: 0 0 51%;
        @include mediaquery(768px, 991px) {
            padding: 0 30px 0 0;
            flex: 0 0 48%;
        }
        @include mediaquery(null, 767px) {
            flex: 0 0 auto;
            padding: 0 6.5476% 0 0;
            text-align: right;
            width: 100%;
            margin-bottom: 32px;
            img {
                width: 62%;
            }
        }
    }
    .rightBox {
        flex: 0 0 49%;
        @include mediaquery(768px, 991px) {
            flex: 0 0 52%;
        }
        @include mediaquery(null, 767px) {
            flex: 0 0 auto;
            width: 100%;
        }
    }
    .intro {
        font-size: 16px;
        margin-bottom: 25px;
        @include mediaquery(null, 767px) {
            font-size: 15px;
            margin-bottom: 27px;
        }
    }
    .m_title {
        font-size: 18px;
        margin-bottom: 13px;
        @include mediaquery(null, 767px) {
            font-size: 16px;
            margin-bottom: 8px;
        }
        span {
            display: inline-block;
            color: #d31e1b;
            font-weight: 500;
            transform: translateY(-5px);
            margin-right: 2px;
            @include mediaquery(null, 767px) {
                font-size: 14px;
            }
        }
        b {
            display: none;
            margin-left: 6px;
            font-size: 16px;
            color: #d31e1b;
            @include mediaquery(null, 767px) {
                font-size: 14px;
            }
        }
    }
    .req {
        .m_title {
            b {
                display: inline-block;
            }
        }
        input:not([type="radio"]),
        select,
        textarea {
            border: 1px solid #d31e1b;
        }
    }
    input,
    select {
        appearance: none;
        width: 100%;
        height: 48px;
        border-radius: 0;
        border: 1px solid #e4e4e4;
        margin-bottom: 29px;
        font-size: 16px;
        padding: 0 18px;
        color: #000;
        font-family: $font;
        @include mediaquery(768px, 1200px) {
            padding: 0 12px;
        }
        @include mediaquery(null, 767px) {
            font-size: 15px;
            padding: 0 9px;
            height: 41px;
            margin-bottom: 30px;
        }
        &::placeholder {
            font-size: 16px;
            color: #a3a3a3;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
        }
    }
    select {
        color: #a3a3a3;
        max-width: 512px;
        background: #fff url("../images/common/form_arrow.png") center right 15px / 21px 8px no-repeat;
        @include mediaquery(null, 767px) {
            background: #fff url("../images/common/form_arrow.png") center right 15px / 15px 6px no-repeat;
        }
    }
    textarea {
        resize: none;
        width: 100%;
        height: 150px;
        border-radius: 0;
        border: 1px solid #e4e4e4;
        padding: 10px 18px;
        font-size: 16px;
        color: #000;
        font-family: $font;
        @include mediaquery(768px, 1200px) {
            padding: 10px 12px;
        }
        @include mediaquery(null, 767px) {
            font-size: 15px;
            height: 150px;
            padding: 6px 9px;
        }
        &::placeholder {
            font-size: 16px;
            font-family: $font;
            color: #a3a3a3;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
        }
    }
    .backBtn {
        margin: 88px 0 150px;
        @include mediaquery(null, 767px) {
            margin: 57px 0 166px;
        }
    }
}
