@import "base/mixin";
@import "base/variable";
@import "template/style";
@import "plugIn/swiper-bundle.min";


//產品明細頁
.fixedBuy{
    position: fixed;
    z-index: 5;
    top: 88px;
    display: flex;
    justify-content: space-between;
    background-color: #F9EDE2;
    padding-left: 8.333%;
    @include mediaquery(992px, 1818px) {
        padding-left: 6%;
    }
    @include mediaquery(null, 991px) {
        padding-left: 0px;
        top: 64px;
    }
    .fixedLeft{
        display: flex;
    }
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        @include mediaquery(992px, null) {
            flex: 0 0 54px;
            margin-right: 19px;
        }
        @include mediaquery(null, 991px) {
            flex: 0 0 64px;
            margin-right: 16px;
            height: 100%;
            background-color: #fff;
        }
        img{
            display: block;
            aspect-ratio: 1 / 1.011;
            @include mediaquery(992px, null){
                border-radius: 6px;
                overflow: hidden;
            }
            @include mediaquery(null, 991px) {
                flex-direction: column;
            }
        }
    }
    .txt{
        flex: 1;
        display: flex;
        align-items: center;
        padding: 16px 0;
        @include mediaquery(null, 991px) {
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 8px 0;
            margin-right: 16px;
        }
    }
    .fixedTitle{
        position: relative;
        font-size: 26px;
        margin-right: 20px;
        padding-right: 18px;
        line-height: 1.35;
        @include mediaquery(null, 991px) {
            margin: 0 0 8px;
            padding-bottom: 7px;
            padding-right: 0;
        }
        @include mediaquery(null, 767px) {
            font-size: 15px;
        }
        &::after{
            content: "";
            position: absolute;
            background-color: #949494;
            @include mediaquery(992px, null) {
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 100%;
            }
            @include mediaquery(null, 991px) {
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                
            }
        }
        i{
            margin-right: 14px;
            @include mediaquery(null, 991px) {
                margin-right: 8px;
            }
        }
        span{
            display: inline-block;
            font-size: 16px;
            letter-spacing: 0.0625em;
            @include mediaquery(null, 767px) {
                font-size: 10px;
            }
        }
    }
    .specialOffer{
        font-size: 30px;
        margin-right: 13px;
        @include mediaquery(null, 991px){
            margin-right: 9px;
        }
        @include mediaquery(null, 767px){
            font-size: 17px;
        }
    }
    .originalPrice{
        font-size: 16px;
        color: #797979;
        text-decoration: line-through;
        @include mediaquery(null, 767px) {
            font-size: 10px;
        }
    }
    .fixedRight{
        min-height: 80px;
        flex: 0 0 286px;
        border: 1px solid #94693C;
        @include mediaquery(null, 767px) {
            flex: 0 0 117px;
            min-height: 71px;
        }
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #94693C;
            transition: background-color 0.75s;
            &:hover{
                background-color: #fff;
                span{
                    color: #94693C;
                }
                .cartIcon::after{
                    background-color: #94693C;
                }
            }
        }
        .cartIcon{
            position: relative;
            width: 26px;
            height: 24px;
            margin-right: 10px;
            @include mediaquery(null, 767px) {
                width: 18px;
                height: 17px;
                margin-right: 8px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                mask: url('../images/productPage/cart.svg') center / contain no-repeat;
                transition: background-color 0.75s;
            }
        }
        span{
            color: #fff;
            font-size: 18px;
            transition: color 0.75s;
            @include mediaquery(null, 767px) {
                font-size: 13px;
            }
        }
    }
}
.productBox{
    margin: 128px 0 42px;
    @include mediaquery(null, 767px) {
        margin: 24px 0 27px;
    }
    .container{
        @include mediaquery(992px, null) {
            display: flex;
        }
    }
    .productBoxSwiper{
        display: flex;
        @include mediaquery(768px, null) {
            margin-right: 56px;
            flex: 0 0 668px;
            width: 668px;
            height: 600px;
        }
        @include mediaquery(1201px, 1440px) {
            margin-right: 35px;
            flex: 0 0 550px;
            width: 550px;
            height: 479px;
        }
        @include mediaquery(992px, 1200px) {
            margin-right: 25px;
            flex: 0 0 450px;
            width: 450px;
            height: 385px;
        }
        @include mediaquery(768px, 991px) {
            margin: 0 auto 56px;
        }
        @include mediaquery(null, 767px) {
            flex-direction: column-reverse;
            margin-bottom: 28px;
        }
        .s_imgBox{
            position: relative;
            @include mediaquery(768px, null){
                flex: 0 0 104px;
                width: 104px;
                margin-right: 20px;
            }
            @include mediaquery(1201px, 1440px) {
                flex: 0 0 100px;
                width: 100px;
                margin-right: 15px;
            }
            @include mediaquery(992px, 1200px) {
                flex: 0 0 90px;
                width: 90px;
                margin-right: 10px;
            }
            &::after{
                content: "";
                position: absolute;
                z-index: 2;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background: linear-gradient(to top, #fff, rgba(255,255,255,0));
                pointer-events: none;
                @include mediaquery(null, 767px) {
                    width: 20%;
                    height: 100%;
                    right: 0;
                    left: auto;
                    top: 0;
                    background: linear-gradient(to left, #fff, rgba(255,255,255,0));
                }
            }
            .swiper {
                height: 100%;
            }
            .swiper-slide{
                width: 104px;
                height: auto;
                transition: opacity 0.75s;
                @include mediaquery(1201px, 1440px) {
                    width: 100px;
                }
                @include mediaquery(992px, 1200px) {
                    width: 90px;
                }
                img{
                    display: block;
                    width: 100%;
                    aspect-ratio: 1 / 1.1011;
                    border: 1px solid #E4E4E4;
                    border-radius: 6px;
                    overflow: hidden;
                }
            }
            .swiper-slide-active, .swiper-slide-thumb-active{
                opacity: 0.6;
            }
        }
        .b_imgBox{
            position: relative;
            flex: 1;
            width: 100%;
            max-width: 544px;
            border: 1px solid #E4E4E4;
            border-radius: 6px;
            overflow: hidden;
            @include mediaquery(1201px, 1440px) {
                max-width: 435px;
            }
            @include mediaquery(992px, 1200px) {
                max-width: 350px;
            }
            @include mediaquery(768px, 991px) {
                max-width: calc(100% - 104px - 20px);
            }
            @include mediaquery(null, 767px) {
                margin-bottom: 14px;
                max-width: 100%;
            }
            .icon{
                position: absolute;
                z-index: 3;
                top: 10px;
                left: 10px;
                max-width: 60px;
                @include mediaquery(null, 767px){
                    top: 5px;
                    left: 5px;
                    max-width: 44px;
                }
            }
            .swiper-slide{
                img{
                    display: block;
                    width: 100%;
                    aspect-ratio: 1 / 1.1011;
                }
            }
        }
    }
    .txtBox{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid #E4E4E4;
        @include mediaquery(1441px, null) {
            height: 600px;
        }
        @include mediaquery(1201px, 1440px) {
            height: 479px;
        }
        @include mediaquery(992px, 1200px) {
            height: 385px;
        }
    }
    .boxTop{
        border-bottom: 1px solid #E4E4E4;
    }
    .tag{
        display: flex;
        margin-bottom: 20px;
        @include mediaquery(null, 767px) {
            margin-bottom: 21px;
        }
        li{
            margin: 0 4px 4px 0;
            @include mediaquery(null, 767px) {
                margin: 0 3px 3px 0;
            }
            a{
                display: inline-block;
                font-size: 16px;
                color: #94693C;
                padding: 6px 16px 8px;
                text-align: center;
                border-radius: 4px;
                background-color: #F9EDE2;
                @include mediaquery(null, 767px) {
                    font-size: 14px;
                    padding: 3px 16px 5px;
                }
                &:hover{
                    @include mediaquery(768px, null) {
                        color: #fff;
                        background-color: #94693C;
                    }
                }
            }
        }
    }
    .proId{
        font-size: 16px;
        color: $product_color_2;
        @include mediaquery(null, 767px){
            font-size: 15px;
        }
    }
    .proName{
        margin-bottom: 8px;
        font-family: $font-tw;
        font-size: 32px;
        line-height: 1.45;
        @include mediaquery(992px, 1200px) {
            font-size: 28px;
        }
        @include mediaquery(768px, 991px) {
            font-size: 24px;
        }
        @include mediaquery(null, 767px){
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    .price{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        @include mediaquery(768px, 1440px) {
            margin-bottom: 20px;
        }
        @include mediaquery(992px, 1200px) {
            margin-bottom: 10px;
        }
        @include mediaquery(null, 767px){
            margin-bottom: 26px;
        }
        .specialOffer{
            margin-right: 22px;
            font-size: 30px;
            color: $product_color_3;
            @include mediaquery(992px, 1200px) {
                font-size: 26px;
            }
            @include mediaquery(768px, 991px) {
                font-size: 22px;
            }
            @include mediaquery(null, 767px){
                font-size: 19px;
            }
            i{
                font-size: 16px;
                color: $product_color_3;
                @include mediaquery(null, 767px){
                    font-size: 15px;
                }
            }
        }
        .originalPrice{
            font-size: 16px;
            color: $product_color_2;
            i{
                display: inline-block;
                margin-left: 4px;
                font-size: 16px;
                color: $product_color_2;
                text-decoration: line-through;
                @include mediaquery(null, 767px){
                    font-size: 15px;
                }
            }
        }
    }
    .activity{
        padding-bottom: 34px;
        @include mediaquery(768px, 1440px) {
            padding-bottom: 20px;
        }
        @include mediaquery(992px, 1200px) {
            padding-bottom: 10px;
        }
        @include mediaquery(null, 767px) {
            padding-bottom: 24px;
        }
        .box{
            overflow: hidden auto;
            @include mediaquery(1441px, null) {
                max-height: 104px;
            }
            @include mediaquery(992px, 1440px) {
                max-height: 75px;
            }
            @include mediaquery(768px, 991px) {
                max-height: 145px;
            }
            @include mediaquery(null, 767px) {
                max-height: 125px;
            }
            &::-webkit-scrollbar {
                width: 4px;
                @include mediaquery(null, 991px) {
                    width: 2px;
                }
            }
            &::-webkit-scrollbar-button {
                background: transparent;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-track-piece {
                background: #F8F8F8;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: #94693C;
            }
            &::-webkit-scrollbar-track {
                box-shadow: transparent;
            }
        }
        li{
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            @include mediaquery(null, 991px) {
                flex-direction: column;
                align-items: start;
                margin-bottom: 12px;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
        .name{
            margin-right: 12px;
            @include mediaquery(null, 767px) {
                margin: 0 0 6px;
            }
            a{
                display: block;
                padding: 5px 12px 7px;
                border: 1px solid #94693C;
                border-radius: 4px;
                color: #94693C;
                font-size: 20px;
                transition: 0.75s;
                @include mediaquery(992px, 1200px) {
                    font-size: 18px;
                }
                @include mediaquery(768px, 991px) {
                    font-size: 17px;
                }
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    padding: 3px 5px;
                    border-radius: 2px;
                }
                &:hover{
                    @include mediaquery(768px, null) {
                        background-color: #94693C;
                        color: #fff;
                    }
                }
            }
        }
        .date{
            font-size: 16px;
            color: #797979;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
        }
    }
    .contentBox{
        flex: 1;
        margin: 30px 0;
        overflow: hidden auto;
        @include mediaquery(1201px, 1440px) {
            margin: 20px 0;
        }
        @include mediaquery(992px, 1200px) {
            margin: 10px 0 15px;
        }
        @include mediaquery(null, 991px) {
            margin: 23px 0 18px;
            max-height: 163px;
        }
        &::-webkit-scrollbar {
            width: 4px;
            @include mediaquery(null, 991px) {
                width: 2px;
            }
        }
        &::-webkit-scrollbar-button {
            background: transparent;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track-piece {
            background: #F8F8F8;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #94693C;
        }
        &::-webkit-scrollbar-track {
            box-shadow: transparent;
        }
        ul{
            li{
                position: relative;
                font-size: 16px;
                padding-left: 25px;
                margin-bottom: 10px;
                @include mediaquery(null, 1200px) {
                    margin-bottom: 6px;
                }
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    padding-left: 14px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 7px;
                    height: 7px;
                    background-color: #94693C;
                    border-radius: 2px;
                    @include mediaquery(null, 767px) {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }
}
.buyBox{
    margin-bottom: 72px;
    .container{
        position: relative;
        display: flex;
        align-items: start;
        @include mediaquery(null, 991px) {
            flex-direction: column-reverse;
        }
    }
    .buyLeft{
        display: flex;
        flex-direction: column;
        background-color: #F8F8F8;
        padding: 31px 37px 20px;
        @include mediaquery(992px, null) {
            margin-right: 56px;
            flex: 0 0 668px;
            width: 668px;
        }
        @include mediaquery(1201px, 1440px) {
            margin-right: 35px;
            flex: 0 0 550px;
            width: 550px;
        }
        @include mediaquery(992px, 1200px) {
            margin-right: 25px;
            flex: 0 0 450px;
            width: 450px;
        }
        @include mediaquery(null, 991px) {
            margin-bottom: 69px;
            width: 100%;
            padding: 23px 18px 20px;
        }
        .buyTitle{
            display: flex;
            align-items: center;
            font-size: 22px;
            padding-bottom: 26px;
            margin-bottom: 24px;
            line-height: 1;
            border-bottom: 1px solid #E4E4E4;
            @include mediaquery(null, 767px) {
                font-size: 18px;
                padding-bottom: 12px;
                margin-bottom: 16px;
            }
            span{
                display: inline-block;
                margin-left: 16px;
                font-size: 14px;
                color: #E30400;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                }
            }
        }
        ul{
            overflow: hidden auto;
            @include mediaquery(992px, null) {
                padding-right: 10px;
                flex: 1;
            }
            @include mediaquery(null, 991px) {
                padding-right: 5px;
                height: 80px;
            }
            &::-webkit-scrollbar {
                width: 4px;
                @include mediaquery(null, 991px) {
                    width: 2px;
                }
            }
            &::-webkit-scrollbar-button {
                background: transparent;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-track-piece {
                background: #F8F8F8;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: #94693C;
            }
            &::-webkit-scrollbar-track {
                box-shadow: transparent;
            }
            li{
                position: relative;
                display: flex;
                margin-bottom: 20px;
                @include mediaquery(null, 767px) {
                    margin-bottom: 12px;
                }
            }
            input{
                display: none;
            }
            .s_title{
                flex: 1;
                position: relative;
                font-size: 16px;
                line-height: 1.5;
                padding: 0 10px 0 25px;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    padding-left: 15px;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 7px;
                    height: 7px;
                    border-radius: 2px;
                    background-color: #94693C;
                    @include mediaquery(null, 767px) {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
            a{
                flex: 0 0 88px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                color: #94693C;
                font-size: 16px;
                border-radius: 4px;
                background-color: #F9EDE2;
                transition: 0.75s;
                @include mediaquery(null, 767px) {
                    flex: 0 0 77px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 14px;
                    border-radius: 2px;
                }
                &:hover{
                    @include mediaquery(768px, null) {
                        color: #fff;
                        background-color: #94693C;
                    }
                }
            }
        }
        &.hasRadio ul{
            input{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                display: block;
                &:checked + label span::after{
                    opacity: 1;
                }
            }
            .s_title{
                cursor: pointer;
                padding-left: 34px;
                @include mediaquery(null, 767px) {
                    padding-left: 26px;
                }
                &::before{
                    content: none;
                }
                span{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -34px;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        border: 1px solid #E4E4E4;
                        background-color: #fff;
                        @include mediaquery(null, 767px) {
                            top: 1px;
                            left: -26px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: -30px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background-color: #94693C;
                        opacity: 0;
                        transition: opacity 0.75s;
                        @include mediaquery(null, 767px) {
                            top: 4px;
                            left: -23px;
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
            
        }
    }
    .buyRight{
        flex: 1;
        @include mediaquery(null, 991px) {
            width: 100%;
        }
    }
    .specification, .numBox{
        display: flex;
        align-items: center;
        margin-bottom: 9px;
        @include mediaquery(null, 767px) {
            margin-bottom: 18px;
        }
        >div:not(.num){
            font-size: 16px;
            flex: 0 0 55px;
            padding: 11px 0 9px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
                flex: 0 0 48px;
                padding: 3px 0 4px;
            }
            position: relative;
            &::after{
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: #E4E4E4;
            }
        }
        ul{
            display: flex;
            margin-left: 21px;
            flex: 1;
            @include mediaquery(null, 767px) {
                margin-left: 4px;
            }
            li{
                position: relative;
                font-size: 16px;
                margin: 0 4px;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    margin: 0 6px;
                }
            }
            input{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                &:checked + label{
                    color: #94693C;
                    background-color: #F6F6F6;
                }
            }
            label{
                cursor: pointer;
                color: #000;
                transition: 0.75s;
                padding: 2px 6px 4px;
                @include mediaquery(null, 767px) {
                    padding: 2px 8px 4px;
                    border-radius: 3px;
                }
                &:hover{
                    @include mediaquery(768px, null) {
                        color: #94693C;
                    }
                }
            }
        }
    }
    .num{
        display: flex;
        align-items: center;
        margin-left: 26px;
        @include mediaquery(null, 767px) {
            margin-left: 16px;
        }
        .hidden{
            pointer-events: none;
            opacity: 0.2;
        }
        .minus{
            position: relative;
            width: 28px;
            height: 28px;
            transition: background-color 0.75s;
            @include mediaquery(null, 767px) {
                width: 21px;
                height: 21px;
            }
            &:hover{
                @include mediaquery(768px, null) {
                    background-color: #F6F6F6;
                }
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 2px;
                background-color: #94693C;
                @include mediaquery(null, 767px) {
                    width: 15px;
                    height: 1px;
                }
            }
        }
        .number{
            width: 74px;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            @include mediaquery(null, 767px) {
                font-size: 15px;
                width: 55px;
            }
        }
        .plus{
            position: relative;
            width: 28px;
            height: 28px;
            transition: background-color 0.75s;
            @include mediaquery(null, 767px) {
                width: 21px;
                height: 21px;
            }
            &:hover{
                @include mediaquery(768px, null) {
                    background-color: #F6F6F6;
                }
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 2px;
                background-color: #94693C;
                @include mediaquery(null, 767px) {
                    width: 15px;
                    height: 1px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 2px;
                height: 20px;
                background-color: #94693C;
                @include mediaquery(null, 767px) {
                    width: 1px;
                    height: 15px;
                }
            }
        }
    }
    .s_txt{
        font-size: 16px;
        color: #797979;
        margin-bottom: 12px;
        @include mediaquery(null, 767px) {
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
    .btnCart{
        @include mediaquery(null, 991px) {
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
        a{
            width: 359px;
            height: 97px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #94693C;
            border: 1px solid #94693C;
            transition: background-color 0.75s;
            @include mediaquery(null, 767px) {
                width: 224px;
                height: 60px;
                border-radius: 3px;
            }
            &:hover{
                background-color: #fff;
                span{
                    color: #94693C;
                }
                .cartIcon::after{
                    background-color: #94693C;
                }
            }
        }
        .cartIcon{
            position: relative;
            width: 26px;
            height: 24px;
            margin-right: 10px;
            @include mediaquery(null, 767px) {
                width: 22px;
                height: 21px;
                margin-right: 8px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                mask: url('../images/productPage/cart.svg') center / contain no-repeat;
                transition: background-color 0.75s;
            }
        }
        span{
            color: #fff;
            font-size: 18px;
            transition: color 0.75s;
            @include mediaquery(null, 767px) {
                font-size: 16px;
            }
        }
    }
}
.addBox{
    margin-bottom: 88px;
    @include mediaquery(null, 767px) {
        margin-bottom: 53px;
    }
    p{
        font-size: 22px;
        margin-bottom: 16px;
        @include mediaquery(null, 767px) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    .addBoxSwiper{
        position: relative;
        background-color: #F8F3ED;
        padding: 32px 71px;
        @include mediaquery(768px, 1440px) {
            padding: 26px 50px;
        }
        @include mediaquery(null, 767px) {
            padding: 24px 42px;
        }
    }
    .swiper-slide{
        position: relative;
        display: flex;
        align-items: center;
        input{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            &:checked + label::after{
                opacity: 1;
            }
        }
        label{
            cursor: pointer;
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            padding: 0 20px 0 52px;
            @include mediaquery(992px, 1440px) {
                padding-left: 46px;
            }
            @include mediaquery(null, 991px) {
                padding: 0 0 0 38px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 32px;
                height: 32px;
                border: 1px solid #E4E4E4;
                background-color: #fff;
                @include mediaquery(992px, 1440px) {
                    width: 26px;
                    height: 26px;
                }
                @include mediaquery(null, 991px) {
                    width: 18px;
                    height: 18px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 7px;
                transform: translateY(-50%);
                width: 18px;
                height: 14px;
                background: url('../images/productPage/checked.png') center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
                @include mediaquery(992px, 1440px) {
                    width: 14px;
                    left: 6px;
                }
                @include mediaquery(null, 991px) {
                    width: 12px;
                    left: 3px;
                }
            }
        }
        .img{
            max-width: 100px;
            border: 1px solid #E4E4E4;
            border-radius: 6px;
            overflow: hidden;
            margin-right: 20px;
            background-color: #fff;
            @include mediaquery(992px, 1440px) {
                max-width: 75px;
                margin-right: 15px;
            }
            @include mediaquery(null, 991px) {
                max-width: 66px;
                margin-right: 12px;
            }
            img{
                display: block;
                width: 100%;
            }
        }
        .proName{
            font-size: 24px;
            margin-bottom: 2px;
            @include mediaquery(768px, 991px) {
                font-size: 22px;
            }
            @include mediaquery(null, 767px) {
                font-size: 20px;
            }
        }
        .priceTxt{
            font-size: 16px;
            color: #797979;
            margin-right: 8px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
                margin-right: 2px;
            }
        }
        .specialOffer{
            font-size: 24px;
            color: #94693C;
            @include mediaquery(768px, 991px) {
                font-size: 22px;
            }
            @include mediaquery(null, 767px) {
                font-size: 19px;
            }
        }
    }
    .swiperBtn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
        @include mediaquery(null, 1440px) {
            width: 100%;
        }
        >div{
            position: relative;
            cursor: pointer;
            width: 40px;
            height: 40px;
            @include mediaquery(null, 767px) {
                width: 30px;
                height: 30px;
            }
            &:hover::after{
                background-color: #94693C;
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 26px;
                height: 26px;
                transition: background-color 0.75s;
                background-color: #000;
            }
            &.swiper-button-disabled{
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }
    .addBoxSwiper-prev{
        &::after{
            mask: url('../images/productPage/page_left.svg') center / contain no-repeat;
        }
    }
    .addBoxSwiper-next{
        &::after{
            mask: url('../images/productPage/page_right.svg') center / contain no-repeat;
        }
    }
}
.infoBox{
    .proMenu{
        display: flex;
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 47px;
        @include mediaquery(null, 767px) {
            margin-bottom: 22px;
        }
        li{
            @include mediaquery(null, 767px) {
                width: 50%;
            }
        }
        li.active a{
            color: #fff;
            background-color: #94693C;
        }
        a{
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 144px;
            height: 64px;
            background-color: #F9EDE2;
            transition: 0.75s;
            @include mediaquery(null, 767px) {
                width: 100%;
                font-size: 16px;
                height: 57px;
            }
            &:hover{
                @include mediaquery(768px, null) {
                    color: #fff;
                    background-color: #94693C;
                }
            }
        }
    }
    .infoPage{
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 63px;
        @include mediaquery(992px, null) {
            padding-bottom: 48px;
            margin-bottom: 100px;
        }
        @include mediaquery(null, 767px) {
            margin-bottom: 58px;
        }
        .editor_Content{
            @include mediaquery(null, 767px) {
                padding-bottom: 18px;
            }
        }
    }
    .specificationList{
        @include mediaquery(992px, null) {
            display: flex;
            flex-wrap: wrap;
        }
        li{
            display: flex;
            font-size: 16px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
            @include mediaquery(992px, null) {
                width: calc((100% - 32px) / 2);
                margin-right: 32px;
                &:nth-child(2n){
                    margin-right: 0;
                }
                &:nth-child(4n-3), &:nth-child(4n-2){
                    background-color: #F8F8F8;
                }
            }
            @include mediaquery(null, 991px) {
                width: 100%;
                &:nth-child(2n-1){
                    background-color: #F8F8F8;
                }
            }
            .infoTitle{
                flex: 0 0 180px;
                border-right: 1px solid #E4E4E4;
                padding: 12px 20px;
                @include mediaquery(768px, 1440px) {
                    flex: 0 0 140px;
                    padding: 12px;
                }
                @include mediaquery(null, 767px) {
                    flex: 0 0 128px;
                    padding: 7px 10px 10px;
                }
            }
            .infoContent{
                flex: 1;
                padding: 12px 20px;
                @include mediaquery(768px, 1440px) {
                    padding: 12px;
                }
                @include mediaquery(null, 767px) {
                    padding: 7px 10px 10px;
                }
            }
        }
    }
}
.likeBox{
    margin-bottom: 97px;
    @include mediaquery(null, 767px) {
        margin-bottom: 62px;
    }
    .container{
        width: 1552px;
    }
    h3{
        font-size: 32px;
        text-align: center;
        margin-bottom: 61px;
        @include mediaquery(null, 767px) {
            font-size: 20px;
            margin-bottom: 44px;
        }
    }
    .likeSwiper{
        position: relative;
        max-width: 76.55%;
        margin: 0 auto;
        @include mediaquery(768px, 1440px) {
            max-width: 80%;
        }
        @include mediaquery(null, 767px) {
            max-width: calc(100% - 60px);
        }
        &.mask::after{
            @include mediaquery(null, 767px) {
                content: "";
                pointer-events: none;
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                width: 30%;
                height: 100%;
                background: linear-gradient(to left, #fff, rgba(255,255,255,0));
            }
        }
    }
    .swiperBtn{
        position: absolute;
        top: 50%;
        left: -11.725%;
        transform: translateY(-50%);
        width: 123.45%;
        display: flex;
        justify-content: space-between;
        @include mediaquery(992px, 1440px) {
            width: 120%;
            left: -10%;
        }
        @include mediaquery(768px, 991px) {
            width: 130%;
            left: -15%;
        }
        @include mediaquery(null, 767px) {
            width: 100vw;
            left: -56px;
        }
        >div{
            position: relative;
            cursor: pointer;
            width: 5.27%;
            height: 91px;
            transform: translateY(-50%);
            @include mediaquery(768px, 991px) {
                width: 50px;
            }
            @include mediaquery(null, 767px) {
                width: 41px;
                height: 46px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: transform 0.75s;
                background-color: #94693C;
            }
            &.swiper-button-disabled{
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }
    .likeSwiper-prev{
        &:hover::after{
            @include mediaquery(991px, null) {
                transform: translateX(-33px);
            }
            @include mediaquery(768px, 991px) {
                transform: translateX(-20px);
            }
        }
        &::after{
            mask: url('../images/productPage/swiper_left.svg') center / contain no-repeat;
        }
    }
    .likeSwiper-next{
        &:hover::after{
            @include mediaquery(991px, null) {
                transform: translateX(33px);
            }
            @include mediaquery(768px, 991px) {
                transform: translateX(20px);
            }
        }
        &::after{
            mask: url('../images/productPage/swiper_right.svg') center / contain no-repeat;
        }
    }
    .swiper-slide{
        max-width: 376px;
        a{
            position: relative;
            display: block;
            &:hover{
                @include mediaquery(768px, null){
                    .img {
                        .defaultImg{
                            opacity: 0;
                        }
                        .hoverImg{
                            opacity: 1;
                        }
                        .svg{
                            path{
                                stroke: #CF8E55;
                                stroke-width: 2px;
                                animation: svgHover 2s forwards linear;
                            }
                        }
                    }
                }
            }
            .svg{
                position: absolute;
                z-index: 4;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                path{
                    stroke: #E4E4E4;
                }
            }
            @keyframes svgHover {
                0%{
                    stroke-dasharray: 0 1567;
                }
                20%{
                    stroke-dasharray: 363 1204;
                }
                40%{
                    stroke-dashoffset: -780;
                    stroke-dasharray: 363 1204;
                }
                70%{
                    stroke-dashoffset: -1547;
                    stroke-dasharray: 363 1204;
                }
                100%{
                    stroke-dashoffset: -1547;
                    stroke-dasharray: 1567 0;
                }
            }
        }
        .icon{
            position: absolute;
            z-index: 3;
            top: 10px;
            left: 10px;
            max-width: 60px;
            @include mediaquery(null, 767px){
                top: 5px;
                left: 5px;
                max-width: 44px;
            }
        }
        .img{
            position: relative;
            border-radius: 6px;
            overflow: hidden;
            margin-bottom: 12px;
            @include mediaquery(768px, 1600px){
                border-radius: 0.375vw;
            }
            @include mediaquery(null, 767px){
                margin-bottom: 10px;
            }
            img{
                display: block;
                width: 100%;
                aspect-ratio: 1 / 1.1011;
            }
            .defaultImg{
                transition: opacity 0.75s;
            }
            .hoverImg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
        .proId{
            font-size: 16px;
            color: $product_color_2;
            margin-bottom: 6px;
            @include mediaquery(null, 767px){
                font-size: 15px;
                margin-bottom: 2px;
            }
        }
        .proName{
            margin-bottom: 4px;
            @include mediaquery(null, 767px){
                margin-bottom: 2px;
            }
            span{
                font-family: $font-tw;
                font-size: 22px;
                line-height: 1.45;
                @include clamp(1.45, 2);
                height: auto;
                @include mediaquery(null, 767px){
                    font-size: 18px;
                }
            }
        }
        .price{
            display: flex;
            align-items: center;
            .originalPrice{
                font-size: 16px;
                color: $product_color_2;text-decoration:line-through;
                @include mediaquery(null, 767px){
                    font-size: 15px;
                }
            }
            i{
                display: inline-block;
                color: $product_color_2;
                @include mediaquery(768px, null){
                    margin: 0 8px;
                }
            }
            .specialOffer{
                font-size: 20px;
                color: $product_color_3;
                @include mediaquery(null, 767px){
                    font-size: 17px;
                }
            }
        }
    }
}

