* {
  color: #000;
}

main {
  overflow: hidden;
  margin-top: 88px;
}

.productDetailPage .fixedBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F9EDE2;
  padding-left: 8.333%;
}
@media all and (min-width: 992px) and (max-width: 1818px) {
  .productDetailPage .fixedBuy {
    padding-left: 6%;
  }
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy {
    padding-left: 0px;
  }
}
.productDetailPage .fixedBuy .fixedLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.productDetailPage .fixedBuy .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (min-width: 992px) {
  .productDetailPage .fixedBuy .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54px;
            flex: 0 0 54px;
    margin-right: 19px;
  }
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy .img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
    margin-right: 16px;
    height: 100%;
    background-color: #fff;
  }
}
.productDetailPage .fixedBuy .img img {
  display: block;
  aspect-ratio: 1/1.011;
}
@media all and (min-width: 992px) {
  .productDetailPage .fixedBuy .img img {
    border-radius: 6px;
    overflow: hidden;
  }
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy .img img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.productDetailPage .fixedBuy .txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy .txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px 0;
    margin-right: 16px;
  }
}
.productDetailPage .fixedBuy .fixedTitle {
  position: relative;
  font-size: 26px;
  margin-right: 20px;
  padding-right: 18px;
  line-height: 1.35;
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy .fixedTitle {
    margin: 0 0 8px;
    padding-bottom: 7px;
    padding-right: 0;
  }
}
@media all and (max-width: 767px) {
  .productDetailPage .fixedBuy .fixedTitle {
    font-size: 15px;
  }
}
.productDetailPage .fixedBuy .fixedTitle::after {
  content: "";
  position: absolute;
  background-color: #949494;
}
@media all and (min-width: 992px) {
  .productDetailPage .fixedBuy .fixedTitle::after {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    height: 100%;
  }
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy .fixedTitle::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
}
.productDetailPage .fixedBuy .fixedTitle i {
  margin-right: 14px;
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy .fixedTitle i {
    margin-right: 8px;
  }
}
.productDetailPage .fixedBuy .fixedTitle span {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.0625em;
}
@media all and (max-width: 767px) {
  .productDetailPage .fixedBuy .fixedTitle span {
    font-size: 10px;
  }
}
.productDetailPage .fixedBuy .specialOffer {
  font-size: 30px;
  margin-right: 13px;
}
@media all and (max-width: 991px) {
  .productDetailPage .fixedBuy .specialOffer {
    margin-right: 9px;
  }
}
@media all and (max-width: 767px) {
  .productDetailPage .fixedBuy .specialOffer {
    font-size: 17px;
  }
}
.productDetailPage .fixedBuy .originalPrice {
  font-size: 16px;
  color: #797979;
  text-decoration: line-through;
}
@media all and (max-width: 767px) {
  .productDetailPage .fixedBuy .originalPrice {
    font-size: 10px;
  }
}
.productDetailPage .fixedBuy .fixedRight {
  min-height: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 286px;
          flex: 0 0 286px;
  border: 1px solid #94693C;
}
@media all and (max-width: 767px) {
  .productDetailPage .fixedBuy .fixedRight {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 117px;
            flex: 0 0 117px;
    min-height: 71px;
  }
}
.productDetailPage .fixedBuy .fixedRight a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #94693C;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
}
.productDetailPage .fixedBuy .fixedRight a:hover {
  background-color: #fff;
}
.productDetailPage .fixedBuy .fixedRight a:hover span {
  color: #94693C;
}
.productDetailPage .fixedBuy .fixedRight a:hover .cartIcon::after {
  background-color: #94693C;
}
.productDetailPage .fixedBuy .fixedRight .cartIcon {
  position: relative;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}
@media all and (max-width: 767px) {
  .productDetailPage .fixedBuy .fixedRight .cartIcon {
    width: 18px;
    height: 17px;
    margin-right: 8px;
  }
}
.productDetailPage .fixedBuy .fixedRight .cartIcon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-mask: url("../images/productPage/cart.svg") center/contain no-repeat;
          mask: url("../images/productPage/cart.svg") center/contain no-repeat;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
}
.productDetailPage .fixedBuy .fixedRight span {
  color: #fff;
  font-size: 18px;
  -webkit-transition: color 0.75s;
  transition: color 0.75s;
}
@media all and (max-width: 767px) {
  .productDetailPage .fixedBuy .fixedRight span {
    font-size: 13px;
  }
}
.productDetailPage .infoBox .proMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 48px;
}
.productDetailPage .infoBox .proMenu li.active a {
  color: #fff;
  background-color: #94693C;
}
.productDetailPage .infoBox .proMenu a {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 144px;
  height: 64px;
  background-color: #F9EDE2;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
@media all and (min-width: 768px) {
  .productDetailPage .infoBox .proMenu a:hover {
    color: #fff;
    background-color: #94693C;
  }
}
.productDetailPage .infoBox .infoPage {
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 63px;
}
@media all and (min-width: 992px) {
  .productDetailPage .infoBox .infoPage {
    padding-bottom: 48px;
    margin-bottom: 100px;
  }
}
@media all and (min-width: 992px) {
  .productDetailPage .infoBox .specificationList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.productDetailPage .infoBox .specificationList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}
@media all and (max-width: 767px) {
  .productDetailPage .infoBox .specificationList li {
    font-size: 15px;
  }
}
@media all and (min-width: 992px) {
  .productDetailPage .infoBox .specificationList li {
    width: calc((100% - 32px) / 2);
    margin-right: 32px;
  }
  .productDetailPage .infoBox .specificationList li:nth-child(2n) {
    margin-right: 0;
  }
  .productDetailPage .infoBox .specificationList li:nth-child(4n-3), .productDetailPage .infoBox .specificationList li:nth-child(4n-2) {
    background-color: #F8F8F8;
  }
}
@media all and (max-width: 991px) {
  .productDetailPage .infoBox .specificationList li {
    width: 100%;
  }
  .productDetailPage .infoBox .specificationList li:nth-child(2n-1) {
    background-color: #F8F8F8;
  }
}
.productDetailPage .infoBox .specificationList li .infoTitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  border-right: 1px solid #E4E4E4;
  padding: 12px 20px;
}
@media all and (min-width: 768px) and (max-width: 1440px) {
  .productDetailPage .infoBox .specificationList li .infoTitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    padding: 12px;
  }
}
@media all and (max-width: 767px) {
  .productDetailPage .infoBox .specificationList li .infoTitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 128px;
            flex: 0 0 128px;
    padding: 7px 10px 10px;
  }
}
.productDetailPage .infoBox .specificationList li .infoContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 20px;
}
@media all and (min-width: 768px) and (max-width: 1440px) {
  .productDetailPage .infoBox .specificationList li .infoContent {
    padding: 12px;
  }
}
@media all and (max-width: 767px) {
  .productDetailPage .infoBox .specificationList li .infoContent {
    padding: 7px 10px 10px;
  }
}
.productDetailPage .likeBox h3 {
  font-size: 32px;
  text-align: center;
}
@media all and (max-width: 767px) {
  .productDetailPage .likeBox h3 {
    font-size: 20px;
  }
}