.footer {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px 42px;
    background: #f9ede2;
    @include mediaquery(null, 1200px) {
        padding: 40px 42px;
    }
    @include mediaquery(null, 991px) {
        z-index: 9;
        flex-direction: column;
        align-items: baseline;
        padding: 33px 21px 78px;
    }
    .footerLogo {
        max-width: 179px;
        margin-right: 33px;
        @include mediaquery(null, 1200px) {
            margin-bottom: 18px;
        }
        @include mediaquery(null, 1105px) {
            margin-right: 15px;
        }
        @include mediaquery(null, 1045px) {
            width: 100px;
        max-width: 100px;
        }
        @include mediaquery(null, 991px) {
            margin-bottom: 28px;
        }
    }
}
.f {
    &_left {
        display: flex;
        align-items: start;
        @include mediaquery(null, 991px) {
            flex-direction: column;
            margin-bottom: 120px;
        }
        @include mediaquery(null, 768px) {
            margin-bottom: 60px;
        }
        .item_container {
            padding: 0 42px;
            border-left: 1px solid $line-color;
            display: flex;
            @include mediaquery(null, 1105px) {
                padding: 0 20px;
            }
            @include mediaquery(null, 991px) {
                padding: 0;
                border-left: none;
            }
            .item {
                margin-right: 54px;
                &:last-child {
                    margin-right: 0;
                }
                @include mediaquery(null, 1200px) {
                    margin-right: 43px;
                }
                @include mediaquery(null, 1045px) {
                    margin-right: 35px;
                }
                @include mediaquery(null, 991px) {
                    margin-right: 32px;
                }
                @include mediaquery(null, 768px) {
                    margin-right: 25px;
                }
                .item_title {
                    font-size: 16px;
                    margin-bottom: 29px;
                    color: #000;
                    @include mediaquery(null, 991px) {
                        font-size: 15px;
                        margin-bottom: 16px;
                    }
                }
                > ul {
                    > li {
                        color: #6f6d6d;
                    font-size: 16px;
                        margin-bottom: 11px;
                        @include mediaquery(null, 991px) {
                            font-size: 15px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    &_right {
        display: flex;
        flex-direction: column;
        .icon {
            display: flex;
            margin-bottom: 20px;
            > div {
                width: 28px;
                aspect-ratio: 1 / 1;
                margin-right: 24.75px;
            }
        }
        .phone_num {
            font-size: 16px;
            display: flex;
            margin-bottom: 10px;
            @include mediaquery(null, 991px) {
                flex-direction: column;
                font-size: 15px;
            }
            > div:nth-of-type(1) {
                padding-right: 20px;
                border-right: 1px solid #a3a3a3;
                @include mediaquery(null, 991px) {
                    padding-right: 0;
                    border-right: none;
                }
            }
            > div:nth-of-type(2) {
                padding-left: 20px;
                @include mediaquery(null, 991px) {
                    padding-left: 0;
                }
            }
        }
        .ser_time {
            font-size: 16px;
            margin-bottom: 10px;
            @include mediaquery(null, 991px) {
                font-size: 15px;
                letter-spacing: -1px;
            }
        }
        .copyright {
            font-size: 14px;
            color: #6f6d6d;
        }
    }
}
