.openMenu {
    overflow: hidden;
    .container-menu {
        opacity: 1;
        pointer-events: all;
    }
    .menuContain {
        opacity: 1;
        pointer-events: all;
    }
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: $headerH-pc;
    @include mediaquery(null, 991px) {
        height: $headerH-mo;
    }
    .menuBg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        border-radius: 0 0 30px 0;
        background-color: #fff;
        @include mediaquery(1920px, null) {
            width: calc(100vw - ((100vw - 1920px) / 2 + 180px));
        }
        @include mediaquery(1600px, 1919px) {
            width: 90.54vw;
        }
        @include mediaquery(992px, 1599px) {
            width: 96vw;
        }
        @include mediaquery(null, 991px) {
            width: calc(100vw - 46px);
        }
        @include mediaquery(null, 575px) {
            width: calc(100vw - 23px);
        }
    }
    .header {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: $maxwidth;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px 0 40px;
    }
    .menuContain {
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #f6e9e5;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.75s;
    }
}
.container-logo {
    display: block;
    flex: 0 0 139px;
    margin-right: 20px;
    @include mediaquery(null, 1600px) {
        flex: 0 0 117px;
        width: 117px;
    }
    img {
        display: block;
        max-width: 100%;
    }
}
.menuBox {
    display: flex;
    align-items: center;
}
.container-menu {
    @include mediaquery(992px, null) {
        height: 100%;
        display: flex;
        align-items: center;
    }
    @include mediaquery(null, 991px) {
        position: absolute;
        z-index: 2;
        top: 88px;
        left: 0;
        width: 100%;
        height: calc(100vh - 88px);
        padding: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.75s;
    }
}
.searchBox {
    position: relative;
    order: 3;
    margin:0;
    flex: 1;
    max-width: 25px;
    transition: max-width 0.75s;
    &.open {
        @include mediaquery(1366px, null) {
            max-width: 230px;
        }
        @include mediaquery(992px, 1365px) {
            max-width: 150px;
        }
        input {
            @include mediaquery(992px, null) {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    .img {
        display: block;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 25px;
        @include mediaquery(null, 991px) {
            width: 17px;
            left: 14px;
        }
        img {
            display: block;
        }
    }
    input {
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
        padding: 12px 0 12px 34px;
        border: none;
        border-bottom: 1px solid $line-color;
        transition: opacity 0.75s;
        opacity: 0;
        @include mediaquery(null, 991px) {
            opacity: 1;
            border: none;
            background-color: #fff;
            border-radius: 20px;
            padding: 0 20px 0 40px;
            height: 41px;
            line-height: 41px;
        }
    }
}
.menu {
    @include mediaquery(992px, null) {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        height: 100%;
    }
    @include mediaquery(null, 991px) {
        padding: 18px 0;
        overflow-y: auto;
        height: calc(100% - 219px - 36px);
    }
    > li {
        position: relative;
        font-size: 18px;
        color: #000;
        letter-spacing: 0;
        margin-right: 49px;
        &:hover {
            @include mediaquery(992px, null) {
                .menu-list {
                    color: $hover-color;
                }
                .menu-second {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        &.active {
            @include mediaquery(992px, null) {
                .menu-list {
                    color: $hover-color;
                    &::before {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
        }
    }
    &-list {
        position: relative;
        display: block;
        transition: opacity 0.75s;
        @include mediaquery(992px, null) {
            height: 100%;
            line-height: $headerH-pc;
            transition: color 0.75s;
        }
        @include mediaquery(null, 991px) {
            padding: 13px 46px;
            font-size: 15px;
            letter-spacing: 1px;
        }
        @include mediaquery(null, 575px) {
            padding: 13px 24px;
        }
        span {
            position: relative;
            overflow: visible;
            display: inline-block;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -12px;
                transform: translateY(-50%);
                width: 7px;
                height: 3px;
                background: url("../images/common/nav_arrow.png") center / contain no-repeat;
            }
        }
    }
    &-second {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: start;
        position: fixed;
        top: 86px;
        left: 50%;
        transform: translateX(-50%);
        padding: 26px 0 35px;
        background: #fff;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.75s;
        &:hover {
            @include mediaquery(992px, null) {
                opacity: 1;
                pointer-events: all;
            }
        }
        &.active {
            @include mediaquery(null, 991px) {
                display: block;
            }
        }
        > li {
            position: relative;
            border-bottom: 1px solid #E4E4E4;
            &:hover {
                @include mediaquery(992px, null) {
                    > a {
                        color: $hover-color;
                    }
                    .item{
                        >div{
                            opacity: 0.4;
                        }
                    }
                }
            }
            &.active {
                > a {
                    color: $hover-color;
                }
            }
            > a {
                position: relative;
                text-align: center;
                display: block;
                transition: all 0.75s;
                color: #000;
                @include mediaquery(992px, null) {
                    letter-spacing: -0.25px;
                    padding: 27px 15px;
                    font-size: 16px;
                    letter-spacing: 1px;
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        right: 0;
                        transform: translateX(60%);
                        width: 20%;
                        height: 100%;
                    }
                }
                @include mediaquery(null, 991px) {
                    text-align: left;
                    padding: 13px 46px;
                    font-size: 15px;
                    letter-spacing: 1px;
                }
                @include mediaquery(null, 575px) {
                    padding: 13px 24px;
                }
            }
            .item{
                >div{
                    transition: 0.75s;
                }
            }
        }
        .brand{
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 0 50px;
            &::after{
                content: "";
                position: absolute;
                top:0;
                right:0;
                width: 1px;
                height:168px;
               background-color: #F2F2F2;
            }
            a{
                font-size: 16px;
                padding: 0;
                text-align: start;
            }
            ul{
                margin-top: 24px;
                li{
                    color: #797979;
                    margin-bottom: 8px;
                    position: relative;
                    &:last-child{
                    margin-bottom: 0;
                    }
                    &:hover{
                        color:$hover-color;
                        &::after{
                            content: "";
                            position: absolute;
                            top:50%;
                            transform: translate(0,-50%);
                            left:-25px;
                            width: 14px;
                            height:1px;
                           background-color: $hover-color;
                        }
                    }
                }
            }
            &:first-child{
                padding: 0 50px 0 0;
            }
            &:last-child{
                padding: 0 0 0 50px;
                &::after{
                    display: none;
                }
            }
        }
    }
}
.menu_2 {
    display: flex;
    align-items: center;
    @include mediaquery(null, 991px) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        padding: 0 24px;
        background-color: #d2e6e7;
    }
    li {
        display: flex;
        align-items: center;
        margin-right: 22px;
        @include mediaquery(1366px, 1500px) {
            margin-left: 10px;
            padding-left: 10px;
        }
        @include mediaquery(992px, 1365px) {
            margin-left: 0px;
            padding-left: 0px;
            border-left: none;
        }
        @include mediaquery(null, 991px) {
            width: 100%;
            margin-left: 0px;
            padding-left: 0px;
            border-left: none;
            height: 73px;
            line-height: 73px;
            border-top: 1px solid #fff;
        }
        a {
            display: inline-block;
            @include mediaquery(null, 991px) {
                width: 100%;
            }
            .member_icon{
                width: 24px;
                height: 25px;
                background: url("../images/common/member_icon.png") center / contain no-repeat;
                transition: 0.75s;
                &:hover{
                    background: url("../images/common/member_icon_hover.png") center / contain no-repeat;
                }
            }
            .shop_icon{
                width: 28px;
                height: 26px;
                background: url("../images/common/shop_icon.png") center / contain no-repeat;
                transition: 0.75s;
                &:hover{
                    background: url("../images/common/shop_icon_hover.png") center / contain no-repeat;
                }
            }
            .search_icon{
                width: 25px;
                height: 25px;
                background: url("../images/common/search_icon.png") center / contain no-repeat;
                transition: 0.75s;
                &:hover{
                    background: url("../images/common/search_icon_hover.png") center / contain no-repeat;
                }
            }
        }
        .txt {
            position: relative;
            font-size: 16px;
            letter-spacing: 1px;
            color: $secondary-color;
            @include mediaquery(992px, 1365px) {
                display: none;
            }
            @include mediaquery(null, 991px) {
                font-size: 15px;
                color: $primary-color;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 2px;
                background-color: $secondary-color;
                opacity: 0;
                transition: opacity 0.75s;
                @include mediaquery(null, 991px) {
                    display: none;
                }
            }
        }
        &.active {
            .txt::after {
                opacity: 1;
            }
        }
        &:hover {
            @include mediaquery(768px, null) {
                .txt::after {
                    opacity: 1;
                }
            }
        }
    }
}
