.openMenu {
    overflow: hidden;
    .container-menu{
        opacity: 1;
        pointer-events: all;
    }
    .menuContain{
        opacity: 1;
        pointer-events: all;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: $headerH-pc;
    @include mediaquery(null, 991px){
        height: $headerH-mo;
    }
    .menuBg{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        border-radius: 0 0 30px 0;
        background-color: #fff;
        @include mediaquery(1920px, null){
            width: calc(100vw - ((100vw - 1920px) / 2 + 180px));
        }
        @include mediaquery(1600px, 1919px){
            width: 90.54vw;
        }
        @include mediaquery(992px, 1599px){
            width: 96vw;
        }
        @include mediaquery(null, 991px){
            width: calc(100vw - 46px);
        }
        @include mediaquery(null, 575px){
            width: calc(100vw - 23px);
        }
    }
    .header{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: $maxwidth;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mediaquery(1920px, null){
            padding: 0 180px 0 42px;
        }
        @include mediaquery(1600px, 1919px){
            padding: 0 9.46% 0 42px;
        }
        @include mediaquery(992px, 1599px){
            padding: 0 4% 0 24px;
        }
        @include mediaquery(null, 991px){
            padding: 0 69px 0 46px;
        }
        @include mediaquery(null, 575px){
            padding: 0 44px 0 23px;
        }
    }
    .menuContain{
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #f6e9e5;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.75s;
    }
}
.container-logo {
    display: block;
    flex: 0 0 138px;
    margin-right: 20px;
    padding-bottom: 7px;
    @include mediaquery(null, 1600px){
        flex: 0 0 117px;
        width: 117px;
        padding-bottom: 3px;
    }
    @include mediaquery(null, 991px){
        padding-bottom: 9px;
    }
    img{
        display: block;
        max-width: 100%;
    }
}
.menuBox{
    display: flex;
    align-items: center;
}
.container-menu{
    @include mediaquery(992px, null){
        height: 100%;
        display: flex;
        align-items: center;
    }
    @include mediaquery(null, 991px){
        position: absolute;
        z-index: 2;
        top: 88px;
        left: 0;
        width: 100%;
        height: calc(100vh - 88px);
        padding: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.75s;
    }
}
.searchBox{
    position: relative;
    order: 3;
    margin-left: 38px;
    flex: 1;
    max-width: 25px;
    transition: max-width 0.75s;
    @include mediaquery(1366px, null){
        margin-left: 20px;
    }
    @include mediaquery(992px, 1365px){
        margin-left: 10px;
    }
    @include mediaquery(null, 991px){
        max-width: 100%;
        margin: 0 46px;
    }
    @include mediaquery(null, 575px){
        margin: 0 24px;
    }
    &.open{
        @include mediaquery(1366px, null){
            max-width: 230px;
        }
        @include mediaquery(992px, 1365px){
            max-width: 150px;
        }
        input{
            @include mediaquery(992px, null){
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    .img{
        display: block;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 25px;
        @include mediaquery(null, 991px){
            width: 17px;
            left: 14px;
        }
        img{
            display: block;
        }
    }
    input{
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
        padding: 12px 0 12px 34px;
        border: none;
        border-bottom: 1px solid $line-color;
        transition: opacity 0.75s;
        opacity: 0;
        @include mediaquery(null, 991px){
            opacity: 1;
            border: none;
            background-color: #fff;
            border-radius: 20px;
            padding: 0 20px 0 40px;
            height: 41px;
            line-height: 41px;
        }
    }
}
.menu{
    @include mediaquery(992px, null){
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        height: 100%;
    }
    @include mediaquery(null, 991px){
        padding: 18px 0;
        overflow-y: auto;
        height: calc(100% - 219px - 36px);
    }
    >li{
        position: relative;
        font-size: 16px;
        font-family: $font-tw;
        color: $primary-color;
        letter-spacing: 1px;
        @include mediaquery(1501px, null){
            margin: 0 14px;
        }
        @include mediaquery(1201px, 1500px){
            margin: 0 12px;
        }
        @include mediaquery(992px, 1200px){
            margin: 0 6px;
        }
        &:hover{
            @include mediaquery(992px, null){
                .menu-list{
                    color: $hover-color;
                    &::before{
                        opacity: 1;
                    }
                }
                .menu-second{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        &.active {
            @include mediaquery(992px, null){
                .menu-list{
                    color: $hover-color;
                    &::before{
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
        }
    }
    &-list{
        position: relative;
        display: block;
        transition: opacity 0.75s;
        @include mediaquery(992px, null){
            height: 100%;
            line-height: $headerH-pc;
            transition: color 0.75s;
        }
        @include mediaquery(null, 991px){
            padding: 13px 46px;
            font-size: 15px;
            letter-spacing: 1px;
        }
        @include mediaquery(null, 575px){
            padding: 13px 24px;
        }
        &::before{
            @include mediaquery(992px, null){
                content: "";
                position: absolute;
                bottom: 24px;
                left: -5%;
                width: 110%;
                height: 2px;
                background: $hover-color;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
        span{
            position: relative;
            overflow: visible;
            display: inline-block;
            &::after{
                @include mediaquery(null, 991px){
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -22px;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 10px;
                    background: url('../images/common/arrow.png') center / contain no-repeat;
                }
            }
        }
    }
    &-second{
        @include mediaquery(992px, null){
            position: absolute;
            top: 86px;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            padding: 14px 0 12px;
            background: #fff;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.75s;
        }
        @include mediaquery(null, 991px){
            position: fixed;
            z-index: 1;
            top: 147px;
            left: 0;
            width: 100%;
            height: calc(100vh - 129px);
            background-color: #f6e9e5;
            display: none;
        }
        &:hover{
            @include mediaquery(992px, null){
                opacity: 1;
                pointer-events: all;
            }
        }
        &.active{
            @include mediaquery(null, 991px){
                display: block;
            }
        }
        >li {
            position: relative;
            &:hover {
                @include mediaquery(992px, null){
                    >a{
                        color: $hover-color;
                    }
                }
            }
            &.active{
                >a{
                    color: $hover-color;
                }
            }
            >a{
                position: relative;
                text-align: center;
                display: block;
                transition: all 0.75s;
                color: $primary-color;
                @include mediaquery(992px, null){
                    letter-spacing: -0.25px;
                    padding: 6px 34px;
                    font-size: 16px;
                    letter-spacing: 1px;
                    &::after{
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        right: 0;
                        transform: translateX(60%);
                        width: 20%;
                        height: 100%;
                    }
                }
                @include mediaquery(null, 991px){
                    text-align: left;
                padding: 13px 46px;
                    font-size: 15px;
                    letter-spacing: 1px;
                }
                @include mediaquery(null, 575px){
                    padding: 13px 24px;
                }
            }
        }
    }
}
.menu_2{
    display: flex;
    align-items: center;
    @include mediaquery(null, 991px){
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        padding: 0 24px;
        background-color: #d2e6e7;
    }
    li{
        margin-left: 16px;
        padding-left: 16px;
        border-left: 1px solid $line-color;
        @include mediaquery(1366px, 1500px){
            margin-left: 10px;
            padding-left: 10px;
        }
        @include mediaquery(992px, 1365px){
            margin-left: 0px;
            padding-left: 0px;
            border-left: none;
        }
        @include mediaquery(null, 991px){
            width: 100%;
            margin-left: 0px;
            padding-left: 0px;
            border-left: none;
            height: 73px;
            line-height: 73px;
            border-top: 1px solid #fff;
        }
        &:first-child{
            margin-left: 4px;
            border: none;
            @include mediaquery(null, 991px){
                margin-left: 0px;
            }
        }
        a{
            display: flex;
            align-items: center;
            @include mediaquery(null, 991px){
                width: 100%;
            }
        }
        .img{
            width: 34px;
            margin-right: 10px;
            @include mediaquery(null, 991px){
                width: 32px;
                margin-right: 16px;
            }
            img{
                display: block;
            }
        }
        .txt{
            position: relative;
            font-size: 16px;
            letter-spacing: 1px;
            color: $secondary-color;
            font-family: $font-tw;
            @include mediaquery(992px, 1365px){
                display: none;
            }
            @include mediaquery(null, 991px){
                font-size: 15px;
                color: $primary-color;
            }
            &::after{
                content: "";
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 2px;
                background-color: $secondary-color;
                opacity: 0;
                transition: opacity 0.75s;
                @include mediaquery(null, 991px){
                    display: none;
                }
            }
        }
        &.active{
            .txt::after{
                opacity: 1;
            }
        }
        &:hover{
            @include mediaquery(768px, null){
                .txt::after{
                    opacity: 1;
                }
            }
        }
    }
}
.langBox{
    display: flex;
    align-items: center;
    padding: 0 11px;
    margin-left: 10px;
    @include mediaquery(992px, 1500px){
        margin-left: 0px;
    }
    @include mediaquery(null, 991px){
        padding: 0 10px 2px;
    }
    li{
        position: relative;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 10px;
        line-height: 20px;
        color: $primary-color;
        transition: color 0.75s;
        @include mediaquery(null, 767px){
            letter-spacing: 0;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 2px;
            left: 50%;
            transform: translateX(-50%);
            width: 1.2em;
            height: 2px;
            background-color: $hover-color;
            opacity: 0;
            transition: opacity 0.75s;
            @include mediaquery(null, 991px){
                bottom: 6px;
                width: 0.8em;
                height: 1px;
            }
        }
        &.active{
            color: $hover-color;
            &::after{
                opacity: 1;
            }
        }
        &:hover{
            @include mediaquery(768px, null){
                color: $hover-color;
                &::after{
                    opacity: 1;
                }
            }
        }
    }
    li + li{
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 16px;
            background-color: $primary-color;
            @include mediaquery(null, 991px){
                height: 14px;
            }
        }
    }
}