html, body, *{
    font-family: $font;
    font-weight: 400;
    margin: 0 auto;
    letter-spacing: 0.05em;
    &.loading {
        opacity: 1;
        visibility: visible;
    }
    .asj{
        opacity: 0;
    }
}
.wrap{
    overflow: hidden;
}
html, body {
    position: relative;
    overflow: hidden auto;
}
.porel{
    position: relative;
}
.center{
    text-align: center;
}
//---------通用設定--------
::selection {
    background-color: $select-color;
    color: #fff;
}
img {
    max-width: 100%;
    //針對圖片不讓使用者反白
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}
.mo {
    display: none;
    @include mediaquery(null, 767px) {
        display: block;
    }
}
.pc {
    display: none;
    @include mediaquery(768px, null) {
        display: block;
    }
}
.mo_991 {
    display: none;
    @include mediaquery(null, 991px) {
        display: block;
    }
}
.pc_991 {
    display: none;
    @include mediaquery(992px, null) {
        display: block;
    }
}
a,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}
*:focus {
    outline: none;
}

// ---------- 內頁通吃 ------------

// 容器寬
.container{
    margin: 0 auto;
    width: 1600px;
    @include mediaquery(null, 991px) {
        max-width: 100%;
        padding: 0 48px;
    }
    @include mediaquery(null, 767px) {
        padding: 0 24px;
    }
}

