html,
body,
* {
    font-family: $font;
    font-weight: 400;
    margin: 0 auto;
    &.loading {
        opacity: 1;
        visibility: visible;
    }
    .asj {
        opacity: 0;
    }
}
.wrap {
    overflow: hidden;
}
html,
body {
    position: relative;
    overflow: hidden auto;
}
main {
    margin-top: $headerH-pc;
    @include mediaquery(null, 991px) {
        margin-top: $headerH-mo;
    }
}
.porel {
    position: relative;
}
.center {
    text-align: center;
}
body {
    overflow-x: hidden;
    header,
    main,
    footer,
    .fixBoxBtn {
        opacity: 0;
        visibility: hidden;
    }
    &.fade-in {
        header,
        main,
        footer,
        .fixBoxBtn {
            opacity: 1;
            transition: opacity 1.5s ease;
            visibility: visible;
        }
    }
}
//---------通用設定--------
::selection {
    background-color: $select-color;
    color: #fff;
}
img {
    max-width: 100%;
    //針對圖片不讓使用者反白
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.mo {
    display: none;
    @include mediaquery(null, 767px) {
        display: block;
    }
}
.pc {
    display: none;
    @include mediaquery(768px, null) {
        display: block;
    }
}
.mo_991 {
    display: none;
    @include mediaquery(null, 991px) {
        display: block;
    }
}
.pc_991 {
    display: none;
    @include mediaquery(992px, null) {
        display: block;
    }
}
a,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}
*:focus {
    outline: none;
}

// ---------- 內頁通吃 ------------

// 容器寬
.container {
    margin: 0 auto;
    width: 1600px;
    max-width: 88%;
    @include mediaquery(null, 991px) {
        max-width: 100%;
        padding: 0 48px;
    }
    @include mediaquery(null, 767px) {
        padding: 0 24px;
    }
}
.loader_popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    opacity: 1;
    &.noshow {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;
    }
}
.loader_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    z-index: 999;
    background: #fff;
    pointer-events: none;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #94693c;
        z-index: 100;
        mix-blend-mode: lighten;
        pointer-events: none;
    }
}
.hueiyeh_good_loader {
    width: 100px;
    aspect-ratio: 1;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    background: #fff;
    filter: blur(5px) contrast(10);
    mix-blend-mode: darken;
    position: relative;
    pointer-events: none;
    &:before,
    &:after {
        content: "";
        grid-area: 1/1;
        background:
            linear-gradient(#000 0 0) left,
            linear-gradient(#000 0 0) right;
        background-size: 20px 40px;
        background-origin: content-box;
        background-repeat: no-repeat;
        pointer-events: none;
    }

    &:after {
        height: 20px;
        width: 20px;
        margin: auto 0;
        border-radius: 50%;
        background: #000;
        animation: l10 1s infinite;
    }
}
@keyframes l10 {
    90%,
    100% {
        transform: translate(300%);
    }
}
