.fixBoxBtn.show_fixBoxBtn {
    opacity: 1;
    pointer-events: all;
}

.fixBoxBtn {
    position: fixed;
    z-index: 99;
    right: 26px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    @include mediaquery(null, 1440px) {
        right: 22px;
    }
    @include mediaquery(null, 991px) {
        right: 24px;
        bottom: 60px;
    }
    .fixBtn {
        display: flex;
        align-items: end;
        margin-bottom: 21px;
        &:hover {
            @include mediaquery(768px, null) {
                .arrow {
                    .line {
                        height: 20px;
                    }
                }
            }
        }
        .txt {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            color: #94693c;
            font-size: 20px;
        }
        .arrow {
            width: 6px;
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            img {
                width: 100%;
            }
            .line {
                width: 6px;
                height: 0;
                border-right: 1px solid #94693c;
                transition: 0.5s;
            }
        }
    }
    &.change {
        position: absolute;
        bottom: 323px;
    }
    &.change_mo_991 {
        position: absolute;
        bottom: 650px;
    }
    &.change_mo {
        position: absolute;
        bottom: 590px;
    }
}
.line_icon{
    transition: opacity 0.75s;
    @include mediaquery(768px,null) {
        &:hover{
            opacity: 0.6;
        }
    }
}