.fixBoxBtn {
    position: fixed;
    z-index: 101;
    right: 17px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mediaquery(null, 1440px) {
        right: 22px;
    }
    @include mediaquery(null, 991px) {
        right: 24px;
        bottom: 60px;
    }
    .txt_flex {
        display: flex;
        align-items: end;
        margin-bottom: 26px;
        &:hover{
            .arrow{
            .line{
                height:35px;
            }}
        }
        .txt {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            color: #94693c;
            font-size: 34px;
        }
        .arrow{
            width: 13px;
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            img{
                width: 100%;
            }
            .line{
                width: 13px;
                height: 0;
                border-right: 1px solid #94693C;
                transition: 0.5s;
            }
        }
    }
}
