$font: 'Roboto', 'Noto Sans TC', sans-serif;
$font-tw: 'Noto Sans TC', sans-serif;
$font-en: 'Shippori Mincho', sans-serif;

$maxwidth: 1920px;
$headerH-pc: 87px;
$headerH-mo: 70px;
//----------- color ------------//

$primary-color: #221e1f;
$secondary-color: #749294;
$hover-color: #9e8470;
$tag-color: #cdb0a7;
$line-color: #dadada;
$gray-color: #868686;


//----------- RWD break ------------//

$xxl:1440px;
$xl:1200px;
$lg:991px;
$md:769px;
$sm:576px;
$xs:480px;