

$product_color_1: #F9EDE2;
$product_color_2: #797979;
$product_color_3: #94693C;
$product_color_4: #E4E4E4;
$product_color_5: #E30400;

//頁面共用
main{
    overflow: hidden;
}

.kvTitle{
    font-weight: 500;
    color: $product_color_3;
    padding: 122px 0 45px;
    @include mediaquery(null, 767px) {
        padding: 32px 0 34px;
    }
    .enTitle{
        font-size: 20px;
        @include mediaquery(null, 767px) {
            font-size: 11px;
        }
    }
    .twTitle{
        font-size: 40px;
        letter-spacing: 0.06em;
        @include mediaquery(null, 767px) {
            font-size: 22px;
        }
    }
}
.backBtn{
    text-align: center;
    margin-bottom: 150px;
    @include mediaquery(null, 767px) {
        margin-bottom: 224px;
    }
    a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 420px;
        height: 80px;
        border-radius: 6px;
        color: #fff;
        font-size: 18px;
        background-color: #94693C;
        border: 1px solid #94693C;
        transition: color 0.75s, background-color 0.75s;
        @include mediaquery(null, 767px) {
            width: 230px;
            height: 60px;
            line-height: 60px;
            border-radius: 3px;
            font-size: 16px;
        }
        &:hover{
            @include mediaquery(768px, null) {
                color: #94693C;
                background-color: #fff;
            }
        }
    }
}
.top-menu-ul-2 {
    position: relative;
    z-index: 5;
    margin-bottom: 62px;
    @include mediaquery(768px, 991px) {
        margin-bottom: 64px;
    }
    @include mediaquery(null, 767px) {
        margin-bottom: 34px;
    }
    .item_Menu{
        @include mediaquery(null, 767px) {
            position: relative;
            &::after{
                content: "";
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                width: 40px;
                height: 100%;
                background: linear-gradient(to left, #fff, rgba(255,255,255,0));
            }
        }
    }
    .item_menu_Box {
        position: relative;
        text-align: left;
        margin: 0 auto;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    ul.slides {
        position: relative;
        white-space: nowrap;
        display: inline-flex;
        min-width: 100%;
        padding-right: 20px;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #DFCBB9;
        }
        li{
            position: relative;
            z-index: 2;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-left: 1px solid #DFCBB9;
                border-right: 1px solid #DFCBB9;
                border-top: 1px solid #DFCBB9;
                opacity: 0;
                transition: opacity 0.75s;
            }
            &::after{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $product_color_1;
                opacity: 0;
                transition: opacity 0.75s;
            }
            &:hover{
                @include mediaquery(768px, null) {
                    color: $product_color_3;
                    &::before{
                        opacity: 1;
                    }
                    &::after{
                        opacity: 1;
                    }
                }
            }
            &.active{
                color: $product_color_3;
                &::before{
                    opacity: 1;
                }
                &::after{
                    opacity: 1;
                }
            }
            a{
                position: relative;
                z-index: 5;
                display: block;
                padding: 10px 17px 14px;
                font-size: 16px;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    padding: 7px 8px 8px;
                }
            }
        }
    }
}
.subcategory{
    @include mediaquery(null, 767px){
        max-width: calc(100% - 32px);
        margin: 0 auto;
    }
}
.top-menu-ul-3 {
    position: relative;
    z-index: 5;
    margin-bottom: 67px;
    @include mediaquery(768px, 991px) {
        margin-bottom: 46px;
    }
    @include mediaquery(null, 767px) {
        margin-bottom: 26px;
    }
    .item_menu_Box {
        position: relative;
        text-align: left;
        margin: 0 auto;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    ul.slides {
        white-space: nowrap;
        display: inline-flex;
        padding-right: 20px;
        li{
            position: relative;
            z-index: 2;
            &:hover a{
                @include mediaquery(768px, null) {
                    color: $product_color_3;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 18px;
                background-color: #E4E4E4;
            }
            &:last-child::after{
                content: none;
            }
            &.active a{
                color: $product_color_3;
            }
            a{
                position: relative;
                z-index: 5;
                display: block;
                padding: 4px 17px;
                font-size: 16px;
                color: #797979;
                transition: color 0.75s;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    padding: 4px 14px;
                }
            }
        }
    }
    &.open_flexslider .flex-direction-nav {
        display: block;
    }
}
.open_flexslider .flex-direction-nav {
    display: block;
    @include mediaquery(null, 767px) {
        display: none;
    }
}
.flex-direction-nav {
    a.flex-prev {
        left: -10px;
        @include mediaquery(768px, 991px){
            left: 0;
        }
        @include mediaquery(null, 767px) {
            left: -20px;
            padding-right: 0px;
        }
        div {
            position: relative;
            width: 12px;
            height: 20px;
            @include mediaquery(768px, 991px) {
                width: 10px;
                height: 17px;
            }
            @include mediaquery(null, 767px) {
                width: 10px;
                height: 14px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/productPage/page_left.svg') center/contain no-repeat;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/productPage/page_left.svg') center/contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
        &.nopage{
            pointer-events: none;
            opacity: 0.2;
        }
    }
    a.flex-next {
        right: -10px;
        top: 0px;
        transition: all 0.75s;
        @include mediaquery(768px, 991px) {
            right: 0px;
        }
        @include mediaquery(null, 767px) {
            right: -20px;
            padding-left: 0px;
        }
        &:hover{
            @include mediaquery(768px, null) {
                div:after{
                    opacity: 1;
                }
            }
        }
        div {
            position: relative;
            width: 12px;
            height: 20px;
            @include mediaquery(768px, 991px) {
                width: 10px;
                height: 17px;
            }
            @include mediaquery(null, 767px) {
                width: 10px;
                height: 14px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/productPage/page_right.svg') center/contain no-repeat;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/productPage/page_right.svg') center/contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
        &.nopage{
            pointer-events: none;
            opacity: 0.2;
        }
    }
}


.modal-open-product{
    #modalBgProduct{
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
    }
    .popupProduct{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        max-width: 954px;
        width: 88%;
        min-height: fit-content;
        max-height: 70vh;
        padding: 60px 52px;
        @include mediaquery(768px, 991px){
            width: calc(100% - 96px);
            left: 48px;
            transform: translateY(-50%);
            padding: 45px;
        }
        @include mediaquery(null, 767px){
            width: calc(100% - 48px);
            left: 24px;
            transform: translateY(-50%);
            padding: 28px 36px;
            max-height: 85.5vh;
        }
    }
    .modal-content{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 4px;
            @include mediaquery(null, 991px) {
                width: 2px;
            }
        }
        &::-webkit-scrollbar-button {
            background: transparent;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track-piece {
            background: #F8F8F8;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #94693C;
        }
        &::-webkit-scrollbar-track {
            box-shadow: transparent;
        }
    }
    .popupTitle{
        font-size: 24px;
        font-weight: 500;
        color: #94693C;
        margin-bottom: 25px;
        @include mediaquery(null, 767px){
            font-size: 17px;
            margin-bottom: 16px;
        }
    }
    .imgTxt{
        @include mediaquery(768px, null){
            display: flex;
            align-items: center;
        }
    }
    .img{
        flex: 0 0 160px;
        margin-right: 38px;
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #E4E4E4;
        overflow: hidden;
        @include mediaquery(null, 767px){
            max-width: 195px;
            margin: 0 auto 18px;
        }
        img{
            display: block;
            width: 100%;
            aspect-ratio: 1 / 1.1011;
        }
    }
    .proTitle{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 19px;
        @include mediaquery(null, 767px){
            justify-content: center;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #94693C;
        }
        i{
            font-size: 22px;
            @include clamp(1.5,2);
            height: auto;
            margin-right: 14px;
            @include mediaquery(null, 767px){
                font-size: 16px;
            }
        }
        .price{
            font-size: 18px;
            color: #6F6D6D;
            @include mediaquery(null, 767px){
                font-size: 15px;
            }
        }
    }
    .intro span{
        @include clamp(1.85,4);
        height: auto;
        font-size: 16px;
        @include mediaquery(null, 767px){
            font-size: 15px;
            @include clamp(1.5,6);
        }
    }
    .closeIcon{
        position: absolute;
        top: -30px;
        right: -30px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: transform 0.75s;
        @include mediaquery(576px, 991px){
            top: -36px;
            right: 0;
        }
        @include mediaquery(null, 575px){
            top: -24px;
            right: 0;
            width: 16px;
            height: 16px;
        }
        &:hover{
            @include mediaquery(768px, null) {
                transform: rotate(90deg);
            }
        }
    }
}