
.top-menu-ul {
    position: relative;
    z-index: 5;
    margin-bottom: 54px;
    @include mediaquery(null, 767px) {
        margin-bottom: 34px;
    }
    .item_menu_Box {
        text-align: left;
        position: relative;
        margin: 0 auto;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    ul.slides {
        white-space: nowrap;
        display: inline-flex;
    }
    &.index {
        &::before{
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0px;
            width: 10px;
            height: 100%;
            background: linear-gradient(to right, #fff, rgba(255,255,255,0));
        }
        &::after{
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0px;
            width: 10px;
            height: 100%;
            background: linear-gradient(to left, #fff, rgba(255,255,255,0));
        }
        li{
            margin-right: 36px;
            @include mediaquery(null, 767px){
                margin-right: 6px;
            }
            &.active{
                a{
                    background-color: $hover-color;
                }
                .b_title{
                    color: #fff;
                }
                .s_title{
                    color: #fff;
                    &::before{
                        background-color: #fff;
                    }
                }
                &:hover{
                    @include mediaquery(768px, null){
                        a{
                            background-color: $hover-color;
                        }
                        .b_title{
                            color: #fff;
                        }
                        .s_title{
                            color: #fff;
                            &::before{
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            a{
                display: block;
                padding: 16px 15px 12px;
                border-radius: 19px;
                transition: background-color 0.75s;
                @include mediaquery(null, 767px){
                    padding: 12px 12px 9px;
                    border-radius: 15px;
                }
                &:hover{
                    @include mediaquery(768px, null){
                        .b_title{
                            color: $hover-color;
                        }
                        .s_title{
                            color: $hover-color;
                            &::before{
                                background-color: $hover-color;
                            }
                        }
                    }
                }
            }
            .b_title{
                display: block;
                font-size: 18px;
                margin-bottom: 4px;
                color: $primary-color;
                letter-spacing: 0.1em;
                transition: color 0.75s;
                line-height: 1;
                @include mediaquery(null, 767px){
                    font-size: 16px;
                    margin-bottom: 3px;
                    letter-spacing: 0.05em;
                }
            }
            .s_title{
                position: relative;
                display: inline-block;
                padding-left: 8px;
                font-size: 14px;
                color: #8c8c8c;
                line-height: 1;
                letter-spacing: 0.1em;
                transition: color 0.75s;
                @include mediaquery(null, 767px){
                    letter-spacing: 0.05em;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 1em;
                    background-color: #8c8c8c;
                    transition: background-color 0.75s;
                }
            }
        }
        .flex-direction-nav {
            a.flex-prev {
                left: -3px;
                div {
                    &::before{
                        background: url('../images/common/index_left.png') center/contain no-repeat;
                    }
                    &::after{
                        content: none;
                    }
                }
            }
            a.flex-next {
                div {
                    &::before{
                        background: url('../images/common/index_right.png') center/contain no-repeat;
                    }
                    &::after{
                        content: none;
                    }
                }
            }
        }
    }
}
.open_flexslider .flex-direction-nav {
    display: block;
}
.flex-direction-nav {
    display: none;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    width: calc(100% + 80px);
    height: 100%;
    @include mediaquery(null, 767px) {
        left: -20px;
        width: calc(100% + 40px);
    }
    a {
        position: absolute;
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    a.flex-prev {
        left: -20px;
        top: 0px;
        transition: all 0.75s;
        @include mediaquery(768px, 991px) {
            left: 0px;
        }
        @include mediaquery(null, 767px) {
            left: -2px;
            padding-right: 20px;
        }
        @include mediaquery(768px, null) {
            &:hover{
                div:after{
                    opacity: 1;
                }
            }
        }
        div {
            position: relative;
            width: 12px;
            height: 20px;
            @include mediaquery(768px, 991px) {
                width: 10px;
                height: 17px;
            }
            @include mediaquery(null, 767px) {
                width: 7px;
                height: 14px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/common/leftMenu.png') center/contain no-repeat;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/common/leftMenu.png') center/contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
        &.nopage{
            pointer-events: none;
            opacity: 0.2;
        }
    }
    a.flex-next {
        right: -20px;
        top: 0px;
        transition: all 0.75s;
        @include mediaquery(768px, 991px) {
            right: 0px;
        }
        @include mediaquery(null, 767px) {
            right: -2px;
            padding-left: 20px;
        }
        @include mediaquery(768px, null) {
            &:hover{
                div:after{
                    opacity: 1;
                }
            }
        }
        div {
            position: relative;
            width: 12px;
            height: 20px;
            @include mediaquery(768px, 991px) {
                width: 10px;
                height: 17px;
            }
            @include mediaquery(null, 767px) {
                width: 7px;
                height: 14px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/common/rightMenu.png') center/contain no-repeat;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/common/rightMenu.png') center/contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
        &.nopage{
            pointer-events: none;
            opacity: 0.2;
        }
    }
}
.topmenuBox{
    @include mediaquery(null, 767px){
        margin: 0 18px;
    }
}
.page_brown{
    position: relative;
    z-index: 5;
    margin-bottom: 54px;
    @include mediaquery(null, 767px) {
        margin-bottom: 34px;
    }
    .item_menu_Box {
        text-align: left;
        position: relative;
        margin: 0 auto;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        border-radius: 8px;
        @include mediaquery(null, 767px) {
            border-radius: 4px;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    ul.slides {
        white-space: nowrap;
        display: inline-flex;
        height: 56px;
        line-height: 56px;
        background-color: #f4e9e7;
        overflow: hidden;
        @include mediaquery(null, 767px) {
            height: 45px;
            line-height: 45px;
        }
    }
    li{
        &.active{
            a{
                color: #fff;
                background-color: $hover-color;
            }
        }
        a{
            display: block;
            padding: 0 38px;
            font-size: 18px;
            font-family: $font-tw;
            transition: 0.75s;
            @include mediaquery(null, 767px){
                padding: 0 26px;
            }
            &:hover{
                @include mediaquery(768px, null){
                    color: #fff;
                    background-color: $hover-color;
                }
            }
        }
    }
    .flex-direction-nav {
        a.flex-prev {
            left: -5px;
            transition: opacity 0.75s;
            div {
                position: relative;
                width: 8px;
                height: 12px;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../images/common/index_left.png') center/contain no-repeat;
                }
            }
            &:hover{
                @include mediaquery(768px, null) {
                    opacity: 0.7;
                }
            }
            &.nopage{
                pointer-events: none;
                opacity: 0.2;
            }
        }
        a.flex-next {
            transition: opacity 0.75s;
            right: -5px;
            div {
                position: relative;
                width: 8px;
                height: 12px;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../images/common/index_right.png') center/contain no-repeat;
                }
            }
            &:hover{
                @include mediaquery(768px, null) {
                    opacity: 0.7;
                }
            }
            &.nopage{
                pointer-events: none;
                opacity: 0.2;
            }
        }
    }
}

